#contentsContainer {
  width: 1100px;
}

#iframe_krs {
  width: 1100px;
}

.pageTopFloat {
  background-color: #002063;
  color: #fff;
  width: 80px;
  height: 80px;
  text-align: center;
  font-weight: bold;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 21px;
  letter-spacing: 0.1em;
  position: fixed;
  right: 16px;
  bottom: 0;

  @media screen and (max-width: 768px) {
    width: 50px;
    height: 50px;
    font-size: 10px;
    border-radius: 25px;
    overflow: hidden;
  }

  &::before {
    content: url('/assets/img/icon_angle_up.svg');
    display: block;
    padding: 15px 0 0;
    margin: 0 auto 10px;
    width: 32px;
    height: 18px;

    @media screen and (max-width: 768px) {
      margin-bottom: 15px;
      overflow: hidden;
    }
  }
}

@media screen and (max-width: 768px) {
  #contentsContainer {
    width: 100%;
  }

  #iframe_krs {
    width: 100%;
    overflow: hidden;
  }
}

@media screen and (min-width: 768px) {
  html,
  body,
  #contents_contaienr,
  #contents_wrapper,
  #contents_wrapper > .contents_body {
    height: auto;
  }
}
