body {
  width: 100%;
}

a:focus {
  outline-color: orange;
}

.breadcrumbs {
  margin-bottom: 0;
}

.main-view {
  width: 100%;
  position: relative;
}

.main-view__inner {
  width: 100%;
  // height: 595px;
  height: 733px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.main-view__bg {
  width: 100%;
  height: auto;
  position: relative;
  margin: 0 auto;

  img {
    position: absolute;
    top: 0;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    max-width: inherit;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
}

.main-view__content {
  width: 100%;
  max-width: 1366px;
  // height: 100%;
  height: 630px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}

.main-view__title {
  width: auto;
  height: auto;
  margin: 0 auto;
  position: relative;
  top: -50px;
}

.main-view__sns {
  width: 288px;
  height: auto;
  margin-bottom: 25px;
}

.main-view__make {
  width: 360px;
  height: auto;
}

.main-view__movie {
  width: 528px;
  height: 298px;
  margin: 57px auto 0;

  iframe {
    width: 100%;
    height: 100%;
  }
}

.contents_body{
  position: relative;
  overflow: hidden;
  height: auto !important;
}

#contentsContainer {
  overflow: visible !important;
}

/* support */

.support {
  width: 100%;
  height: auto;
  position: relative;
  background: url(/assets/img/support-bg.svg) center bottom;
  background-repeat: repeat-x;
  // background-size: auto;
  // overflow: hidden;
  // margin-top: 90px;
  margin-bottom: 90px;

  &::before {
    position: absolute;
    top: -89px;
    content: '';
    display: block;
    width: 100%;
    height: 90px;
    background: url(/assets/img/support-upper-bg.svg?timestamp=20190927) center top no-repeat;
    background-size: cover;
  }

  &::after {
    position: absolute;
    bottom: -88px;
    content: '';
    display: block;
    width: 100%;
    height: 90px;
    background: url(/assets/img/support-lower-bg.svg?timestamp=20190927) center top no-repeat;
    background-size: cover;
  }
}

.support-inner {
  width: 100%;
  height: 100%;
  max-width: 1366px;
  padding: 0 70px;
  box-sizing: border-box;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.support-movie {
  position: relative;
  width: 528px;
  height: 296px;
  margin: 75px auto 0;

  &::before {
    position: absolute;
    top: -96px;
    left: -60px;
    content: '';
    display: block;
    width: 1490px;
    height: 882px;
    background: url(/assets/img/support-movie-bg.svg?timestamp=201910021940) top left no-repeat;
  }

  a {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.support-head {
  width: 600px;
  height: auto;
  margin: 100px 0 20px;
}

.en-support-head {
  width: 836px;
  height: auto;
  margin: 100px 0 20px;
}

.support-body {
  width: auto;
  height: auto;
}

.support-text,
.en-support-text {
  width: auto;
  max-width: 653px;
  height: auto;
}

.support-text p {
  font-family: Meiryo, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 2;
  color: #fff;
}

.en-support-text p {
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 2;
  color: #fff;
}

.step {
  width: 100%;
  height: auto;
  // border-bottom: 1px solid #ddd;
}

.step-inner {
  width: 100%;
  height: auto;
  padding: 66px 0 0;
  box-sizing: border-box;
  margin: 0 auto;
}

.step-item {
  width: 50%;
  height: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.step-list {
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  &:first-child {
    margin-bottom: 67px;
    background: url(/assets/img/step_line1.svg) center -13px no-repeat;

    .step-item {
      &:first-child {
        width: 353px;
        height: auto;
      }

      &:last-child {
        width: 354px;
        height: auto;
        margin: 58px 0 0 247px;
      }
    }
  }

  &:last-child {
    // margin-bottom: 67px;
    background: url(/assets/img/step_line2.svg) center 88px no-repeat;

    .step-item {
      &:first-child {
        width: 388px;
        height: auto;
      }

      &:last-child {
        width: 355px;
        height: auto;
        margin: 63px 0 0 226px;
      }
    }
  }
}

.step-item__head {
  width: 100%;
  height: auto;
  font-size: 0;
}

.step1 .step-item__head,
.step4 .step-item__head {
  width: 350px;
}

.step2 .step-item__head {
  width: 352px;
}

.step3 .step-item__head {
  width: 388px;
}

.en-step1 .step-item__head {
  width: 323px;
}

.en-step2 .step-item__head {
  width: 198px;
}

.en-step3 .step-item__head {
  width: 329px;
}

.en-step4 .step-item__head {
  width: 333px;
}

.step-item__body {
  width: auto;
  position: relative;
  margin: 0 auto;
}

.step-item__img {
  width: 100%;
  max-width: 320px;
  height: auto;
  margin: 25px auto 20px auto;
}

.step-item__text {
  width: auto;
  height: auto;
  position: relative;

  p {
    font-size: 18px;
    line-height: 2;
    color: #666;
    text-align: center;
    margin: 0 auto;
  }
}

.step-footer {
  // width: calc(100% - 146px);
  // max-width: 1220px;
  // height: 4px;
  margin: 0 auto 0;
  background-color: #fff;

  &::after {
    content: " ";
    background: url(/assets/img/winding_border.svg?timestamp=20190927) center top no-repeat;
    width: 100%;
    height: 250px;
    display: block;
  }
}

.sns {
  width: 100%;
  height: auto;
  // margin: 93px auto 100px auto;
  margin: 0 auto 100px auto;
  padding-top: 10px;
}

.sns-inner {
  width: 100%;
  height: auto;
  max-width: 650px;
  margin: 0 auto;
}

.sns-head {
  width: 100%;
  height: auto;
  max-width: 325px;
  margin: 0 auto;
}

.en-sns-head {
  width: 100%;
  height: auto;
  max-width: 481px;
  margin: 0 auto;
}

.sns-head img {
  max-width: 325px;
}

.en-sns-head img {
  max-width: 481px;
}

.sns-body {
  width: 100%;
  height: auto;
}

.sns-list {
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.sns-item {
  width: 90px;
  height: auto;

  a {
    pointer-events: none;
  }
}

.sns-foot {
  margin-top: 40px;
  width: 100%;
  height: auto;
}

.sns-foot__text {
  font-size: 18px;
  text-align: center;
  line-height: 2;
  color: #999;
}

.en-sns-foot__text {
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 2;
  color: #666;
}

.sample {
  position: relative;
  width: 100%;
  margin: 200px 0;
  padding: 100px 0;
  background: #1b83b9;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;

  &::before {
    position: absolute;
    top: -160px;
    content: '';
    display: block;
    width: 100%;
    height: 160px;
    background: url(/assets/img/upper_bg.svg?timestamp=20190927) center top no-repeat;
    background-size: cover;
  }

  &::after {
    position: absolute;
    bottom: -160px;
    content: '';
    display: block;
    width: 100%;
    height: 160px;
    background: url(/assets/img/lower_bg.svg?timestamp=20190927) center top no-repeat;
    background-size: cover;
  }
}

.sample-inner {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  height: auto;
  position: relative;
}

.sample-head {
  width: 100%;
  height: auto;
  max-width: 317px;
  margin: 0 auto;
  font-size: 0;
}

.en-sample-head {
  width: 100%;
  height: auto;
  max-width: 262px;
  margin: 0 auto;
  font-size: 0;
}

.sample-body {
  width: auto;
  height: auto;
  margin-top: 60px;
}

.sample-move {
  display: flex;
  width: 984px;
  margin: 0 auto;
  justify-content: left;
  flex-wrap: wrap;

  li {
    position: relative;
    width: 306px;
    height: 177px;
    margin: 0 11px 30px;

    a {
      text-decoration: none;

      .intro {
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 92%;
        padding: 11px 4% 9px;
        background-color: rgba(0, 0, 0, 0.6);
        color: #fff;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0.1em;
        transform: scaleY(0.95);

        &.none {
          display: none;
        }
      }
    }

    a::after {
      position: absolute;
      content: " ";
      background-image: url(/assets/img/icon_play_movie.svg);
      z-index: 2;
      top: 68px;
      left: 132px;
      width: 43px;
      height: 43px;
      background-size: 100% auto;
    }
  }

  .new::before {
    position: absolute;
    top: -11px;
    left: -11px;
    width: 64px;
    height: 32px;
    content: "NEW";
    display: block;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 32px;
    background-color: #002063;
    z-index: 1;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 0.12em;
    text-indent: 3px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.accordion-open {
  position: relative;
  display: block;
  margin: 0 auto;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  line-height: 32px;
  text-align: center;

  &::before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    background: url(/assets/img/icon-open.svg) no-repeat center center;
    vertical-align: bottom;
    background-size: cover;
  }

  &::after {
    position: absolute;
    top: -95px;
    content: '';
    display: block;
    width: 100%;
    height: 65px;
    background: linear-gradient(rgba(27, 131, 185, 0), #1b83b9);
  }
}

.accordion-close {
  display: none;
  margin: 0 auto;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  line-height: 32px;
  text-align: center;

  &::before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    background: url(/assets/img/icon-close.svg) no-repeat center center;
    background-size: cover;
    vertical-align: bottom;
  }
}

@media screen and (max-width: 768px) {
  .accordion-open,
  .accordion-close {
    font-size: 14px;
    line-height: 16px;
  }

  .accordion-open::before,
  .accordion-close::before {
    width: 16px;
    height: 16px;
  }
}

.sample-list {
  width: auto;
  height: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sample-item {
  width: 306px;
  height: auto;

  &:not(:first-child) {
    margin-left: 25px;
  }
}

.terms {
  width: 100%;
  height: auto;
}

.terms-inner {
  width: 100%;
  height: auto;
  max-width: 1310px;
  margin: 0 auto;
}

.terms-head,
.en-terms-head {
  width: 100%;
  height: auto;
  line-height: 1;
  margin-bottom: 50px;
  text-align: center;
}

.terms-head img {
  max-width: 501px;
}

.en-terms-head img {
  max-width: 422px;
}

.terms-head p {
  margin: 40px 0 0;
  font-family: Meiryo, sans-serif;
  font-size: 18px;
  color: #666;
  line-height: 2;
}

.en-terms-head p {
  margin: 40px 0 0;
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: 18px;
  color: #666;
  line-height: 2;
}

.terms-head__title {
  font-size: 48px;
  line-height: 1;
  color: #4bbebf;
  text-align: center;
}

.terms-body {
  width: 100%;
  height: auto;
}

.terms-list {
  width: 100%;
  height: auto;
  padding: 0 30px;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.terms-item,
.en-terms-item {
  width: 100%;
  max-width: 574px;
  height: auto;
}

.terms-item:last-child,
.en-terms-item:last-child {
  margin-left: 73px;
}

.terms-item .title {
  margin: 0 0 15px;
  font-family: Meiryo, sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: #1b83b9;
  text-align: center;
}

.en-terms-item .title {
  margin: 0 0 15px;
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: #1b83b9;
  text-align: center;
}

.terms-item .text {
  min-height: 146px;
  font-family: Meiryo, sans-serif;
  font-size: 14px;
  line-height: 2;
  color: #666;
  text-align: center;
}

.en-terms-item .text {
  height: 84px;
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 2;
  color: #666;
  text-align: center;
}

.terms-item a {
  width: 100%;
  height: 74px;
  border: 2px solid #1b83b9;
  background-color: #1b83b9;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Meiryo, sans-serif;
  font-weight: bold;
  font-size: 18px;
  border-radius: 8px;
  text-decoration: none;
}

.en-terms-item a {
  width: 100%;
  height: 74px;
  border: 2px solid #1b83b9;
  background-color: #1b83b9;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Helvetica, Arial, Verdana, Tahoma, Meiryo, sans-serif;
  font-weight: bold;
  font-size: 18px;
  border-radius: 8px;
  text-decoration: none;
}

.terms-item .btn-disabled,
.en-terms-item .btn-disabled {
  background-color: #ccc;
  border-color: #ccc;
  pointer-events: none;
}

.bottom-text {
  margin: 71px auto 0;
  font-family: Meiryo, sans-serif;
  font-size: 14px;
  color: #666;
  text-align: center;
}

.page_navi-wrapper {
  position: absolute;
  overflow: visible;
  height: 132px;
  left: 50%;
  margin-left: -66px;
  top: 510px;
}

.page_navi-link {
  display: none;
  position: absolute;
  z-index: 2;
  width: 320px;
  text-align: center;
  line-height: 68px;
  border: 4px solid #ccc;
  border-radius: 16px;
  left: 50%;
  margin-left: -164px;
  overflow: visible;
  margin-top: 24px;

  &::before {
    content: "";
    background-color: transparent;
    background-image: url(/assets/img/navi_upper_bg.png);
    display: block;
    width: 104px;
    height: 24px;
    position: absolute;
    top: -24px;
    left: 108px;
  }

  li {
    border-bottom: 1px solid #ccc;
    background-color: #fff;

    &:first-child {
      border-radius: 12px 12px 0 0;
    }

    &:last-child {
      border-radius: 0 0 12px 12px;
    }

    a {
      text-decoration: none;
      font-weight: bold;
      font-size: 18px;
      color: #002063;
    }
  }
}

.pageTopFloat {
  background-color: #002063;
  color: #fff;
  width: 80px;
  height: 80px;
  text-align: center;
  font-weight: 600;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 21px;
  letter-spacing: 0.1em;
  position: fixed;
  right: 16px;
  bottom: 0;

  @media screen and (max-width: 768px) {
    width: 50px;
    height: 50px;
    font-size: 10px;
    border-radius: 25px;
  }

  &::before {
    content: url(/assets/img/icon_angle_up.svg);
    display: block;
    padding: 15px 0 0;
    margin: 0 auto 10px;
    width: 32px;
    height: 18px;

    @media screen and (max-width: 768px) {
      margin-bottom: 15px;
      overflow: hidden;
    }
  }
}

.contact {
  width: 100%;
  height: auto;
  margin: 100px 0 0 0;
  font-size: 18px;
}

.contact-inner {
  // width: 100%;
  height: auto;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.contact-head {
  width: 100%;
  height: auto;
  line-height: 1;
  margin-bottom: 50px;
  text-align: center;
}

.contact-body {
  width: 100%;
  height: auto;
  line-height: 2;
  margin-bottom: 50px;
  text-align: left;
}

@media screen and (max-width: 1366px) {
  .main-view__content {
    padding: 0 75px;
  }
}

@media screen and (min-width: 768px) {
  #contentsContainer {
    padding: 0;
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .main-view {
    min-width: inherit;
  }

  .main-view__content {
    // padding: 26vw 17.5vw;
    padding: 50px 10vw;
    height: auto;
    position: relative;
    left: 0;
    transform: none;
    -webkit-transform: none;
  }

  .main-view__inner {
    // height: inherit;
    // height: 175vw;
    height: 560px;
  }

  .main-view__bg img,
  .main-view__title {
    width: 100%;
    top: 0;
  }

  .main-view__sns {
    max-width: 234px;
    margin: 0 auto 15px auto;
  }

  .main-view__make {
    // max-width: 73vw;
    max-width: 250px;
    width: inherit;
    margin: 0 auto;
  }

  .main-view__movie {
    position: relative;
    max-width: inherit;
    width: 100%;
    height: 0;
    margin: 0;
    padding-top: 56.25%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .page_navi-wrapper {
    // top: 120vw;
    top: 370px;
  }

  .page_navi-link {
    width: 86vw;
    margin-left: -44vw;

    &::before {
      background-repeat: no-repeat;
      background-position: center top;
      left: 50%;
      width: 32vw;
      margin-left: -16vw;
    }

    li {
      a {
        font-size: 1.5em;
      }
    }
  }

  .sns-head img,
  .en-sns-head img {
    display: block;
    // width: 88vw;
    width: 72vw;
    margin: 0 auto;
  }

  .terms-head img,
  .en-terms-head img {
    width: 100%;
    max-width: inherit;
  }

  .sample-move img {
    position: absolute;
    top: 0;
    left: 0;
  }

  .sample-move li a .intro {
    font-size: 3.8vw;
  }

  .support {
    height: inherit;
    margin-bottom: 10vw;
    background-size: auto;

    &::before {
      top: -39px;
      height: 40px;
      background-size: 100% 40px;
    }

    &::after {
      bottom: -39px;
      height: 40px;
      background-size: 100% 40px;
    }
  }

  .support-inner {
    padding: 0 8.3vw;
  }

  .support-movie {
    width: 100%;
    height: auto;
    margin: 64px 0 0;
    //padding-top: 56.25%;

    &::before {
      display: none;
    }

    a {
      top: 0;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .support-head,
  .en-support-head {
    width: inherit;
    margin: 60px auto 0;
  }

  .support-body {
    margin: 45px 0 0;
  }

  .support-text,
  .en-support-text {
    max-width: inherit;
    margin: 0 0 60px;
  }

  .support-text p,
  .en-support-text p {
    font-size: 1.5em;
    line-height: 2em;
  }

  .step-list {
    display: block;
    background: none !important;
  }

  .step-item {
    width: 100% !important;
    margin: 0 auto;
    margin-left: 0 !important;
  }

  .step-item__img {
    width: 60vw;
    max-width: inherit;
  }

  .step1,
  .en-step1,
  .step3,
  .en-step3 {
    margin-bottom: 67px;
  }

  .step-item__body {
    width: 100%;
  }

  .step1 .step-item__body,
  .en-step1 .step-item__body {
    background: url(/assets/img/step_line_sp1.svg) center 25px no-repeat;
    background-size: contain;
  }

  .step1 .step-item__head {
    width: 59.6vw;
  }

  .step2 .step-item__body,
  .en-step2 .step-item__body {
    background: url(/assets/img/step_line_sp2.svg) center 25px no-repeat;
    background-size: contain;
  }

  .step2 .step-item__head {
    width: 59.8vw;
  }

  .step3 .step-item__body,
  .en-step3 .step-item__body {
    background: url(/assets/img/step_line_sp3.svg) center 25px no-repeat;
    background-size: contain;
  }

  .step3 {
    .step-item__head {
      width: 66vw;
    }

    .step-item__text {
      margin: 0 auto;
    }
  }

  .step4 .step-item__body,
  .en-step4 .step-item__body {
    background: url(/assets/img/step_line_sp4.svg) center 25px no-repeat;
    background-size: contain;
  }

  .step4 .step-item__head {
    width: 66vw;
  }

  .en-step1 .step-item__head,
  .en-step2 .step-item__head,
  .en-step3 .step-item__head,
  .en-step4 .step-item__head {
    position: relative;
    width: 100%;
    height: 66px;
    max-width: 80vw;
  }

  .en-step1 .step-item__head img,
  .en-step2 .step-item__head img,
  .en-step3 .step-item__head img,
  .en-step4 .step-item__head img {
    position: absolute;
    left: 0;
    right: 0;
    width: auto;
    height: 100%;
    margin: 0 auto;
  }

  .step-item__text p {
    font-size: 1.8em;
    padding: 0 7.5vw;
  }

  .step-footer {
    width: calc(100% - 50px);
    padding-top: 60px;
    padding-top: 10vw;

    &::after {
      background: url(/assets/img/winding_border_sp.svg) center 25px no-repeat;
      background-size: contain;
      height: 30vw;
    }
  }

  .sns-list {
    padding: 0 6vw;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
  }

  .sns-item {
    width: 19vw;
    margin: 0 5vw 30px;
  }

  .sns-foot {
    margin: 0;
    padding: 0 7vw;
    box-sizing: border-box;
  }

  .sample {
    position: relative;
    height: inherit;
    margin: 175px 0 200px;
    padding: 0 11vw;
    background: #1b83b9;

    &::before {
      position: absolute;
      top: -150px;
      left: 0;
      content: '';
      display: block;
      width: 100%;
      height: 150px;
      background: url(/assets/img/sample-top.svg) center top no-repeat;
      background-size: cover;
    }

    &::after {
      position: absolute;
      bottom: -150px;
      left: 0;
      content: '';
      display: block;
      width: 100%;
      height: 150px;
      background: url(/assets/img/sample-bottom.svg) center bottom no-repeat;
      background-size: cover;
    }
  }

  .sample-head {
    max-width: 449px;
  }

  .en-sample-head {
    max-width: 372px;
  }

  .sample-move {
    display: block;
    width: 100%;
    margin: 0;

    li {
      position: relative;
      width: 100%;
      height: 0;
      margin: 0 0 30px;
      padding-top: 56.25%;

      a::after {
        top: 40%;
        left: 43%;
        width: 10vw;
        height: 10vw;
      }
    }

    .new::before {
      width: 80px;
      height: 40px;
      line-height: 40px;
      font-size: 18px;
    }
  }

  .terms-head,
  .en-terms-head {
    padding: 0 7.7vw;
    box-sizing: border-box;
  }

  .terms-head p,
  .en-terms-head p {
    font-size: 1.5em;
    text-align: left;
  }

  .terms-list {
    display: block;
    padding: 0 7.7vw;
    box-sizing: border-box;
  }

  .terms-item,
  .en-terms-item {
    margin: 0 0 50px;
  }

  .terms-item .title,
  .en-terms-item .title {
    font-size: 3em;
  }

  .terms-item .text,
  .en-terms-item .text {
    height: inherit;
    margin: 0 0 30px;
    font-size: 1.5em;
    text-align: left;
  }

  .terms-item a,
  .en-terms-item a {
    height: 60px;
    line-height: 60px;
    @media screen and (max-width: 768px) {
      font-size: 16px;
    }
  }

  .terms-item:last-child,
  .en-terms-item:last-child {
    margin-left: 0;
  }

  .bottom-text {
    padding: 0 7.7vw;
    box-sizing: border-box;
    font-size: 1.5em;
    text-align: left;
    line-height: 2;
  }

  .contact{
      margin: 100px 0 100px;

      img{
        width: 60vw;
      }
  }

  // a[class*=lightcase-icon-].lightcase-icon-close {
  //   top: 90px;
  // }
}

.page_navi {
  background-color: #002063;
  text-align: center;
  color: #fff !important;
  width: 132px;
  height: 132px;
  border-radius: 66px;
  margin: 0 auto;
  line-height: 96px;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.3em;
  text-indent: 8px;
  display: block;
  text-decoration: none !important;
  position: relative;
  z-index: 3;

  &:hover,
  :visited {
    color: #fff !important;
    text-decoration: none;
  }

  &::before {
    content: " ";
    background-image: url(/assets/img/icon_bars.svg);
    background-repeat: no-repeat;
    display: inline-block;
    width: 22px;
    height: 20px;
    position: absolute;
    top: 85px;
    left: 54px;
  }

  &.active::before {
    content: " ";
    background-image: url(/assets/img/icon_close.svg);
  }
}

.slider{
  &-toolbar{
    width: 100%;
    height: auto;
    margin-top: 20px;
    &-inner{
      width: auto;
      height: auto;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &-prev{
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    flex: none;
    height: 0;
    padding-top: 30px;
    overflow: hidden;
    position: relative;
    &:after{
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -4px;
      width: 7px;
      height: 7px;
      border-top: 2px solid #000;
      border-right: 2px solid #000;
      margin-left: -3px;
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
  }
  &-next{
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    flex: none;
    height: 0;
    padding-top: 30px;
    overflow: hidden;
    position: relative;
    margin-left: 10px;
    &:after{
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -4px;
      width: 7px;
      height: 7px;
      border-top: 2px solid #000;
      border-right: 2px solid #000;
      margin-left: -5px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  &-pause{
    display: inline-block;
    width: 68px;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    flex: none;
    height: 0;
    padding-top: 30px;
    overflow: hidden;
    position: relative;
    margin-left: 10px;
    &:after{
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;

    }
    &.stop{
      &:after{
        width: 7px;
        height: 12px;
        border-left: 2px solid #000;
        border-right: 2px solid #000;
        margin-top: -6px;
        margin-left: -4px;
      }

    }
    &.play{
      &:after{
        width: 0;
        height: 0;
        border-width: 8px;
        border-style: solid;
        border-color: transparent;
        border-left-color: #000;
        margin-top: -8px;
        margin-left: -2px;
      }

    }
  }
}
