footer#footer(role="contentinfo")
  #pageTopBox
    #pageTopBoxInner
      p#btn_pagetop.btn.btn_pagetop
        a.ui(href="#") ページトップへ戻る
  #footerLower
    #footerLowerInner
      .pc-element
        .footer-lower-main
          small#copyRights.copyrights
            span 公益財団法人東京オリンピック･パラリンピック競技大会組織委員会
            |                       ©The Tokyo Organising Committee of the Olympic and Paralympic Games. All rights reserved.
      .sp-element
        .ft_bottom
          p.copyrights.textBase.mb00
            | 公益財団法人東京オリンピック･パラリンピック競技大会組織委員会
          p
            | ©The Tokyo Organising Committee of the Olympic and Paralympic Games. All rights reserved.
