- var title = "TOKYO 2020 Make The Beat!｜東京オリンピック・パラリンピック競技大会組織委員会";
- var keyword = "Make The Beat,2020beat,ビート,応援,オリンピック,パラリンピック,東京,Tokyo,2020,組織委員会,ニュース,競技,大会ビジョン,エンブレム,五輪";
- var description = "TOKYO 2020「Make The Beat!」応援プロジェクトについてご紹介します。";
- var css = "/assets/css/";
- var img = "/assets/img/";
- var js  = "/assets/js/";
- var timestamp = "?timestamp=20200107";

doctype html
html.responsive(lang="ja")
  head
    include ../partials/common_meta.pug
    link(href="//fonts.googleapis.com/css?family=Barlow+Condensed:600&display=swap" rel="stylesheet")
    link(rel="stylesheet" href=css+"form.css")
    include ../partials/gtm.pug
  body#jp(cz-shortcut-listen="true")
    include ../partials/noscript.pug
    #contents_contaienr.container
      //- include ../partials/fb-root.pug
      include header_form.pug
      nav.breadcrumbs.pc-element(role="navigation" aria-label="現在位置")
        p
          //- a.breadcrumbs__link(href="https://makethebeat.tokyo2020.org/jp/") ホーム
          a.breadcrumbs__link(href="https://tokyo2020.org/jp/") ホーム
          img.ic_breadcrumbs(src="//tokyo2020.org/assets/img/common/ic05.png" alt="＞")
          //- span.breadcrumbs__link 2020ビート利用申請（企業・団体向け）
          a.breadcrumbs__link(href="https://makethebeat.tokyo2020.org/jp/") TOKYO 2020 Make The Beat!
      #contents_wrapper.contents_wrapper.compornent
        nav#global_menu.global_menu.sp-element(role="navigation" aria-label="スマートフォン用メニュー" aria-hidden="true")
          ul#global_menulist.global_menulist
            li.has_children
              p.trigger.language 言語切り替え
              .view.global_second_view
                ul.global_second_menu.language
                  li.active
                    a(href="/jp/form.html") 日本語
                  li
                    a(href="/en/form.html") English
            li
              a(href="https://tokyo2020.org/jp/") ホーム
            li
              a(href="https://makethebeat.tokyo2020.org/jp/") TOKYO 2020 Make The Beat!
        .contents_body
          main#contentsContainer(role="main")
            .form
              iframe#iframe_krs(name="iframe_krs" src="https://krs.bz/mcs/m?f=1" width="auto" height="auto")
          include footer.pug
      .pageTopFloat TOP
    //- include ../partials/common_script.pug
    script(type="text/javascript" src="/assets/js/common/lib/libs.js")
    script(type="text/javascript" src="/assets/m/js/common/lib/libs.js")
    script(type="text/javascript" src="/assets/js/common/lib/jquery.cookie.js")
    script(type="text/javascript" src="/assets/m/js/common/utils/utils.js")
    //-script(type="text/javascript" src="/assets/js/common/script.js")
    script(type="text/javascript" src=js+"form.js"+timestamp charset="utf-8")
