header(role="banner")
  p#site_logo
    a(href="https://tokyo2020.org/jp/")
      img.sp-element(src="/assets/m/img/common/logo_tokyo2020.png" alt="東京2020オリンピック・パラリンピック競技大会" aria-hidden="true")
      img.pc-element(src="/assets/img/common/logo_tokyo2020.png" alt="東京2020オリンピック・パラリンピック競技大会")
  #headerInner
    #headerUpper.pc-element
      #headerUpperInner
        p#headerUpperCenter
          img(src="/assets/img/common/text_tokyo2020.png" alt="TOKYO2020")
        #headerUpperLeft
          ul#languageBox
            li#languageJp.current(lang="ja")
              a(href="/jp/index.html" tabindex="2") 日本語
            li#languageEn
              a(href="/en/index.html" tabindex="3") English
    #headerLower.global_menu_trigger.clearfix
      ul.global_menu_triggerlist.clearfix.sp-element
        li#hd_btn_menu.btn.btn_menu
          a.ui.button-image(href="#" role="button" aria-label="メニューの開閉")
            img(src="/assets/m/img/common/button_menu_sp.png" width="55" height="70" alt="メニュー")
            img.active-image(src="/assets/m/img/common/button_menu_close_sp.png" width="55" height="70" alt="閉じる")
