- var title = "TOKYO 2020 Make The Beat!｜東京オリンピック・パラリンピック競技大会組織委員会";
- var keyword = "Make The Beat,2020beat,ビート,応援,オリンピック,パラリンピック,東京,Tokyo,2020,組織委員会,ニュース,競技,大会ビジョン,エンブレム,五輪";
- var description = "TOKYO 2020「Make The Beat!」応援プロジェクトについてご紹介します。";
- var css = "/assets/css/";
- var img = "/assets/img/";
- var js  = "/assets/js/";
- var timestamp  = "?timestamp=20191216";
doctype html
html.responsive(lang="ja")
  head
    include ../partials/common_meta.pug
    link(href="//fonts.googleapis.com/css?family=Barlow+Condensed:600&display=swap" rel="stylesheet")
    link(rel="stylesheet" href=css+"lightcase/lightcase.min.css")
    link(rel="stylesheet" href=css+"top.css"+timestamp)
    link(rel="stylesheet" href=css+"slick-theme.css")
    link(rel="stylesheet" href=css+"slick.css")
    include ../partials/gtm.pug
  body#jp
    include ../partials/noscript.pug
    #contents_contaienr.container
      include header.pug
      nav.breadcrumbs.pc-element(role="navigation" aria-label="現在位置")
        p
          a.breadcrumbs__link(href="https://tokyo2020.org/jp/") ホーム
          img.ic_breadcrumbs(src="/assets/img/common/ic05.png" alt="＞")
          span.breadcrumbs__link.nohref TOKYO 2020 Make The Beat!
      #contents_wrapper.contents_wrapper.compornent
        include sp_navi.pug
        .contents_body
          .main-view
            .main-view__inner
              .main-view__bg
                img.pc-element(src=img+"main-img.svg"+timestamp width="100%" alt="bg")
                img.sp-element(src=img+"main-img_sp.svg" width="100%" alt="bg")
              .main-view__content
                .main-view__title
                  h1.main-view__make
                    img(src=img+"main-view.svg" width="100%" alt="Make The Beat!")
          .page_navi-wrapper
            a.page_navi(href="#") MENU
            ul.page_navi-link
              li
                a.page_navi-a(href="#makethebeat") “Make The Beat!”とは？
              li
                a.page_navi-a(href="#sns") 利用可能なSNS
              li
                a.page_navi-a(href="#movies") お手本動画
              li
                a.page_navi-a(href="#usage") 2020ビートの利用について
              li
                a.page_navi-a(href="#contact") お問合せ窓口
          main#contentsContainer(role="main")
            #makethebeat.support
              .support-inner
                .support-movie
                  .slider
                    a(href="//www.youtube.com/embed/9uR7oCcE4Fk?rel=0" data-rel="lightcase")
                      img(src=img+"jp/slide1.png" alt="")
                    a( data-rel="")
                      img(src=img+"jp/slide2.png" alt="")
                    a(href="//www.youtube.com/embed/TM4CYbTNzGc?rel=0" data-rel="lightcase")
                      img(src=img+"jp/slide3.png" alt="")
                  .slider-toolbar
                    .slider-toolbar-inner
                      .slider-prev
                      .slider-pause.stop
                      .slider-next
                .support-head
                  img.pc-element(src=img+"support-head.svg" width="100%" alt="")
                  img.sp-element(src=img+"support-head_sp.svg" width="100%" alt="")
                .support-body
                  .support-text
                    p
                      | 「Make The Beat!」。
                      br.pc-element
                      | それは、SNSを通じて世界中の人々が参加できるユニバーサルな応援スタイル。
                      br.pc-element
                      | あなたが投稿した応援動画が、競技会場のスクリーンに映し出されます。
                      br.pc-element
                      | 選手のための2020ビートが、東京2020大会で大きな熱狂の渦になる。
                      br.pc-element
                      | この感動をぜひシェアしよう！
            #join.step
              .step-inner
                ul.step-list
                  li.step-item.step1
                    .step-item__head
                      img(src=img+"step-head_001.svg" width="100%" alt="動画を撮る!")
                    .step-item__body
                      .step-item__img
                        img(src=img+"step-img_001.svg" width="100%" alt="動画を撮る! 画像")
                      .step-item__text
                        p
                          | 2020ビートに合わせて
                          br.pc-element
                          | 動画を撮りましょう。
                  li.step-item.step2
                    .step-item__head
                      img(src=img+"step-head_002.svg" width="100%" alt="動画を投稿!")
                    .step-item__body
                      .step-item__img
                        img(src=img+"step-img_002.svg" width="100%" alt="動画を投稿! 画像")
                      .step-item__text
                        p
                          | #2020ビート、または
                          br
                          | #2020beat をつけて
                          br
                          | 各SNSから投稿しましょう。
                ul.step-list
                  li.step-item.step3
                    .step-item__head
                      img(src=img+"step-head_003.svg" width="100%" alt="動画をつなぐ!")
                    .step-item__body
                      .step-item__img
                        img(src=img+"step-img_003.svg" width="100%" alt="動画をつなぐ! 画像")
                      .step-item__text
                        p
                          | 皆さんに投稿いただいた動画は
                          br.pc-element
                          | 編集でつなぎ合わされ、
                          br.pc-element
                          | 1つのムービーに仕上がります。
                  li.step-item.step4
                    .step-item__head
                      img(src=img+"step-head_004.svg" width="100%" alt="動画を上映!")
                    .step-item__body
                      .step-item__img
                        img(src=img+"step-img_004.svg" width="100%" alt="動画を上映! 画像")
                      .step-item__text
                        p
                          | 競技会場の
                          br
                          | 巨大スクリーンにあなたの動画が
                          br
                          | 映し出されるかも！
              .step-footer
            #sns.sns
              .sns-inner
                .sns-head
                  img(src=img+"available_sns.svg" width="100%" alt="利用可能なSNS")
                .sns-body
                  ul.sns-list
                    li.sns-item
                      a(href="")
                        img(src=img+"icon-facebook.svg" width="100%" alt="facebook")
                    li.sns-item
                      a(href="")
                        img(src=img+"icon-instagram.png" width="100%" alt="instagram")
                    li.sns-item
                      a(href="")
                        img(src=img+"icon-twitter.svg" width="100%" alt="twitter")
                    li.sns-item
                      a(href="")
                        img(src=img+"icon-douyin.svg" width="100%" alt="douyin")
                    li.sns-item
                      a(href="")
                        img(src=img+"icon-weibo.svg" width="100%" alt="weibo")
                .sns-foot
                  p.sns-foot__text 各SNSプラットフォームの利用規約に従って、撮影・投稿してください。
            #movies.sample
              .sample-inner
                .sample-head
                  img(src=img+"sample-head.svg" width="100%" alt="サンプルムービー")
                .sample-body
                  ul#sample-move.sample-move
                  label.accordion-open もっと見る
                  label.accordion-close 閉じる
            #usage.terms
              .terms-inner
                .terms-head
                  img.pc-element(src=img+"terms-head.svg" alt="2020ビートの利用について")
                  img.sp-element(src=img+"terms-head_sp.svg" alt="2020ビートの利用について")
                  p
                    | 全ての人が、東京2020大会の機運醸成のために、2020ビートを利用することができます。
                    br.pc-element
                    | 利用者は、2020ビートの音源をそのまま、又は、アレンジして、2020ビートに合わせて自由なパフォーマンスを行うことができます。
                    br.pc-element
                    | また、商業行為に該当しない範囲で、その動画をSNS等に投稿することができます。
                .terms-body
                  ul.terms-list
                    li.terms-item
                      p.title 個人でご利用の方はこちら
                      p.text
                        | 利用者が個人の場合、2020ビート利用規約の内容をご一読いただき、規約に従い2020ビートをご利用ください。2020ビートの音源は、各SNSプラットフォーム上に公開されているTOKYO2020公式音源をご利用ください。
                        br
                        | ※19年12月時点では、TikTok上のみで配信中です。今後、その他のSNSプラットフォームでも配信を検討しています。
                      //- a.btn-disabled(href="#") 準備中
                      a#terms-modal.btn(href="./terms/index.html" target="_blank") 2020ビート利用規約を確認する
                    li.terms-item
                      p.title 企業・団体でご利用の方はこちら
                      p.text 利用者が企業または団体の場合、事前に2020ビート利用申請が必要となります。2020組織委員会による承認後、2020ビートの音源と楽譜をご提供します。
                      //- a.btn-disabled(href="#") 準備中
                      a(href="form.html") 2020ビート利用申請をする
                  //p.bottom-text.popup-modal 
                    |準備が整い次第、2020ビート利用規約、2020ビート利用申請フォームを公開いたします。いましばらくお待ちください。
            #contact.contact
              .contact-inner
                .contact-head
                  img.pc-element(src=img+"contact-head.svg"+timestamp alt="お問合せ窓口")
                  img.sp-element(src=img+"contact-head_sp.svg"+timestamp alt="お問合せ窓口")
                .contact-body
                  p 
                    | 日本語と英語によるメールでのお問合せに対応いたします。
                    br.pc-element
                    | 迷惑メール対策のため、メールアドレスの表記を変更しております。お手数ですが、(at)を@に置き換えてご利用ください。
                    br
                    br
                    | TOKYO 2020 “Make The Beat!”運営事務局
                    br
                    | contact-makethebeat(at)tokyo2020.jp
          include footer.pug
      .pageTopFloat TOP
    include ../partials/common_script.pug
    script(type="text/javascript" src=js+"lightcase.min.js"+timestamp charset="utf-8")
    script(type="text/javascript" src=js+"script.js"+timestamp charset="utf-8")
    
    script(type="text/javascript" src=js+"click.js" charset="utf-8")
    script(type="text/javascript" src=js+"top.js" charset="utf-8")

      
