nav#global_menu.global_menu.sp-element(role="navigation" aria-label="スマートフォン用メニュー" aria-hidden="true")
  ul#global_menulist.global_menulist
    li.has_children
      p.trigger.language 言語切り替え
      .view.global_second_view
        ul.global_second_menu.language
          li.active
            a(href="/jp/index.html") 日本語
          li
            a(href="/en/index.html") English
