- var title = "2020ビート利用規約｜TOKYO 2020 Make The Beat!｜東京オリンピック・パラリンピック競技大会組織委員会";
- var keyword = "Make The Beat,2020beat,ビート,応援,オリンピック,パラリンピック,東京,Tokyo,2020,組織委員会,ニュース,競技,大会ビジョン,エンブレム,五輪";
- var description = "TOKYO 2020「Make The Beat!」応援プロジェクトについてご紹介します。";
- var css = "/assets/css/";
- var img = "/assets/img/";
- var js  = "/assets/js/";
- var timestamp  = "?timestamp=20191219";
doctype html
html.responsive(lang="ja")
  head
    include ../partials/common_meta.pug
    link(rel="stylesheet" href= css + "terms.css"+timestamp)
    include ../partials/gtm.pug
  body#jp
    include ../partials/noscript.pug
    #contents_contaienr.container
      include header_term.pug
      nav.breadcrumbs.pc-element(role="navigation" aria-label="現在位置")
        p
          //- a.breadcrumbs__link(href="https://makethebeat.tokyo2020.org/jp/") ホーム
          a.breadcrumbs__link(href="https://tokyo2020.org/jp/") ホーム
          img.ic_breadcrumbs(src="//tokyo2020.org/assets/img/common/ic05.png" alt="＞")
          //- span.breadcrumbs__link 2020ビート利用規約
          a.breadcrumbs__link(href="https://makethebeat.tokyo2020.org/jp/") TOKYO 2020 Make The Beat!
      #contents_wrapper.contents_wrapper.compornent
        include sp_navi_term.pug
        .contents_body
          main#contentsContainer(role="main")
            .terms
              h1.title 2020ビート利用規約
              //-
              //-
              //-
              p.terms-text
                | 公益財団法人東京オリンピック･パラリンピック競技大会組織委員会（以下「当法人」といいます。）は、サウンド、テクノロジー及びソーシャルメディアを融合し、世界中の観客が会場を盛り上げ、選手を応援することを可能にする、東京2020オリンピック・パラリンピック競技大会（以下「本大会」といいます。）のための「Make The Beat!」プロジェクトを立ち上げました。
                br
                | 「Make The Beat!」プロジェクトでは、観客が一緒に踊ったり手拍子等をすることができる特別なビート「2020ビート」を提供します。このビート及びすべての関連する情報及び／又はテクノロジー（ミュージックデータ、音源及び楽譜を含みます。）を、以下、「本ビート」と総称します。
                br
                | 「Make The Beat!」プロジェクトに参加し、本ビートの提供を受けこれを利用するためには、以下の利用規約（以下「本利用規約」といいます。）の内容を一読いただき、同意いただく必要があります。
              ol.terms-list
                //-
                //-
                //-
                li.terms-list_item
                  h2.terms-title
                    | 1. 本ビートの利用者
                  p.terms-text
                    | 個人、企業及び団体が、本利用規約に従い本ビートを利用することができます。但し、適用される条件がそれぞれ異なりますのでご注意ください。企業及び団体の場合は、当該利用に先立ち、必ず当法人に対して本ビートの利用申請をし（
                    a(href="https://makethebeat.tokyo2020.org/jp/") https://makethebeat.tokyo2020.org
                    | より）、当法人の承認を得るものとします。また、第4項に定めるように、利用者の区分（個人、企業又は団体）に応じて、本ビートの利用範囲に制限が定められる場合があります。各利用者は適用される全ての条件を厳守する必要があります。
                //-
                //-
                //-
                li.terms-list_item
                  h2.terms-title 
                    | 2. 本ビートの利用目的及び本ビートへのアクセス可能期間
                  ol.terms-ol
                    li
                      p.terms-text
                        | 利用者は、本ビートを、(i)個人的に（譲渡不可、サブライセンス不可な利用権）、(ii) 非独占的に、(iii) 本利用規約に定める条件に常に従って、(iv)本大会の機運醸成及びオリンピック・パラリンピックムーブメント及びオリンピック価値の推進という非営利目的（以下「本目的」といいます。）に限り、利用することができます。利用者は、本目的以外で本ビートを利用することできません。
                    li
                      p.terms-text 
                        | 本ビートの音源の提供期間は、2020年9月30日までとします。
                //-
                //-
                //-
                li.terms-list_item
                  h2.terms-title
                    | 3.	本ビートの音源の取得・利用
                  p.terms-text
                    | 利用者が企業または団体の場合、当法人から別途提供される所定のURLからのみ本ビートの音源を取得することができます。当法人は、利用者（企業又は団体）が(i) 本利用規約に同意し、(ii)当法人所定の申請手続き履行し、かつ、(iii)当該申請が了承された場合にのみ、当該URLを提供します。
                    br
                    | 利用者が個人の場合は、当法人がソーシャルメディア上に公開している本ビートの音源を取得することができます。
                    br
                    | なお、本ビートの音源を取得及び／又は使用した利用者（個人、企業又は団体）は、本利用規約に明示的に同意したものとみなします。
                //-
                //-
                //-
                li.terms-list_item
                  h2.terms-title
                    | 4.	利用者による本ビートの利用
                  ol.terms-ol
                    li
                      p.terms-text
                        | 許諾された利用者（本利用規約を読みこれに同意した者）は、(i)前項に基づき（企業又は団体は所定のURLより、個人はソーシャルメディアより）当法人より提供された本ビートの音源をそのまま利用し、又は、(ii)パフォーマンス（ダンス、振り付け、手拍子など）を撮影した動画（以下「本動画」といいます。）を作成するためにアレンジすることができます。
                    li
                      p.terms-text
                        | 利用者による本動画の利用
                        br
                        | 利用者の区分に応じ、許諾される利用は以下に定める通りとします。
                      ol
                        li
                          p.terms-text
                            | 個人の利用者は、本利用規約を厳守した上で、本目的のためにあらゆる方法（ソーシャルメディアや動画投稿サイトへの投稿を含むがこれらに限られません。）で利用できます。
                        li
                          p.terms-text
                            | 企業及び団体は、本目的のために、当該企業及び団体の内部においてのみ利用することができ、ソーシャルメディアや動画投稿サイトへの投稿を含む一切の対外的な利用行為はできません。
                        li
                          p.terms-text
                            | 上記②にかかわらず、国、東京都、地方自治体、競技団体（国際競技連盟（IF）及び国内競技連盟（NF））、国際オリンピック委員会（IOC）、国際パラリンピック委員会（IPC）、国内オリンピック委員会（NOC）、国内パラリンピック委員会（NPC）、本大会のパートナー企業（TOPスポンサー及び本大会国内スポンサー）及びその他当法人が認めた団体は、当該当事者が作成した本動画を個人の利用者と同様に（上記①のとおり）利用できます。
                    li
                      p.terms-text
                        | 前(1)項及び(2)項にかかわらず、いずれの場合においても、利用者（区分にかかわらず）は、特に、そのパフォーマンス及び／又は本動画において、第6項に定めるアンブッシュマーケティングを行わないことを確認し、同意します。
                //-
                //-
                //-
                li.terms-list_item
                  h2.terms-title
                    | 5.	所有権及び知的財産権
                  ol.terms-ol
                    li
                      p.terms-text
                        | 本ビートに関する著作権（著作権法第27条及び第28条の権利を含む。）、著作隣接権（実演家の権利及びレコード製作者の権利）、所有権（すべての財産権）その他一切の知的財産権（特許権、意匠権、商標権等のあらゆる識別標章に関する権利）及びその他のすべての関連する権利（ノウハウ、製造上の秘密、営業秘密など）（以下、「知的財産権及び所有権」と総称します）は常に当法人に帰属し、当法人に留保されます。
                    li
                      p.terms-text
                        | 本利用規約の目的上、利用者がアレンジを行った本ビートの音源は、以下、「アレンジ作品」と称します。利用者及び／又は第三者がアレンジ作品の知的財産権および所有権を保持している場合、当該利用者は、東京2020関係団体（以下の第5条（6）で定義）に対して、期間の制限なく、本目的のために、あらゆる形式でアレンジ作品を利用する非独占的、全世界、取消不能、譲渡可能、無償のライセンスを付与し、また、アレンジ作品について権利を保有する第三者をして付与させます。
                    li
                      p.terms-text
                        | 第5条（1）を損なうことなく、本動画の知的財産権及び所有権は利用者に帰属します。 各利用者は、東京2020関係団体に対して、本目的のために、あらゆる形式又は方法で本動画を利用する非独占的、全世界、取消不能、譲渡可能、無償のライセンスを付与するものとします（該当する場合、本動画に何らかの権利を保有する第三者に付与させるものとします）。かかるライセンスには期間の制限はありません。 疑義を避けるため、この第5条（3）に基づいて付与されるライセンスは、本動画に登場する（本動画に含まれる）物理的な人物の画像（肖像、声、名前等を含む）を本目的のために使用する権利を包含するものとします。
                    li
                      p.terms-text
                        | 上記の第5条(2)および第5条（3）に従って付与されるライセンスに加えて、アレンジ作品又は本動画の著作権を保有する利用者は、東京2020関係団体によるアレンジ作品及び／又は本動画の使用に関して、自己の著作者人格権及び／又は実演家人格権を行使しないこと同意するものとします（該当する場合、アレンジ作品又は本動画の著作権を保有する第三者をして同意させるものとします）。特に、アレンジ作品及び／又は本動画の全部又は一部が、東京2020関係団体又は当法人若しくはIOC から権限を付与された第三者により、変更、変換、翻案、破壊等される可能性があることを確認し、これに同意します（該当する場合、第三者に確認及び同意させるものとします）。したがって、かかる使用は、いかなる人格権及び／又は経済的権利の侵害とみなされることもありません。
                    li
                      p.terms-text
                        | アレンジ作品及び／又は本動画の知的財産権及び所有権を保持する利用者は、当該アレンジ作品及び／又は本動画を本目的のためにのみ本利用規約に従って利用することに同意し、また、アレンジ作品又は本動画について権利を保有する第三者をして同意させます。
                    li
                      p.terms-text
                        | 本利用規約の目的上、当法人、IOC、IPC、及びそれらの関連会社及び／又は関連組織、並びにこれらの者から許諾を受けた者を、「東京2020関係団体」と総称します。
                //-
                //-
                //-
                li.terms-list_item
                  h2.terms-title
                    | 6.	アンブッシュマーケティングの禁止
                  ol.terms-ol
                    li
                      p.terms-text
                        | 本利用規約の目的上、「アンブッシュマーケティング」は、東京2020関係団体、本大会及び／又はオリンピック・パラリンピックムーブメントとの虚偽または無許可の（直接的または間接的な）関連付けを作成するあらゆる試み（意図的であると否とを問わない）として理解されるものとします。
                    li
                      p.terms-text
                        | 当法人とIOCが事前に別途書面で承認を与えていない限り、利用者又は第三者による（特に、本ビート、アレンジ作品及び／又は本動画の使用において）、あらゆる種類の、あらゆる態様又は方法での、アンブッシュマーケティングは、明示的に禁止されています。特に、利用者は、その製品又はサービス、又は第三者の製品又はサービスが東京2020関係団体によって提供、選択、承認、保証、推奨、または承認されたことを表明してはなりません。
                    li
                      p.terms-text
                        | 利用者（及び第三者）には、本利用規約によって、いかなるマーケティング権も、東京2020関係団体、本大会、オリンピック・パラリンピックムーブメントとの関係性を表明する権利も付与されていません。 利用者は、当法人及びIOC（又は該当する場合はIPC）の事前の書面による同意なしに、オリンピック・パラリンピックのシンボル、大会エンブレムなどのエンブレム、商標、テーマ、ロゴ、マスコット、その他の呼称を使用したり使用を許諾したりしてはならず、また、利用者（又は第三者）に東京2020関係団体、大会及び／又はオリンピック・パラリンピックムーブメントとの関係性を表明する権利又は特定の関係を維持する権利が付与されていることを直接的または間接的に示唆する言動を行ってはなりません。
                    li
                      p.terms-text
                        | 本第6条に定める義務には期間の定めはありません（解除ないし期間満了はありません）。
                //-
                //-
                //-
                li.terms-list_item
                  h2.terms-title
                    | 7.	表明保証
                  ol.terms-ol
                    li
                      p.terms-text
                        | 利用者は、以下の各事項を表明し、保証します。
                      ol
                        li
                          p.terms-text
                            | 本利用規約に従った本動画及び／又はアレンジ作品の制作及び利用（本目的のための東京2020関係団体による利用を含みます。）が、第三者の権利（著作権、著作隣接権、肖像権、パブリシティ権を含むがこれらに限られません。）を侵害しないこと。
                        li
                          p.terms-text
                            | あらゆる適用法令を遵守すること。
                        li
                          p.terms-text
                            | 暴力団、暴力団員、暴力団準備構成員、元暴力団員（但し、警察が離脱支援したものを除く。）、総会屋、社会標榜ゴロ等ではないこと。
                        li
                          p.terms-text
                            | オリンピック価値を尊重し、特に、当法人及び／又はその他の東京2020関係団体の培った品位、信用及びイメージを損なうような言動等を行わないこと。
                    li
                      p.terms-text
                        | 利用者は、前項各号及び／又は本利用規約に定めるその他の利用者の義務に違反したことにより当法人及び／又は東京2020関係団体が損害を被った場合には、当該損害を賠償するものとします。
                //-
                //-
                //-
                li.terms-list_item
                  h2.terms-title
                    | 8.	責任
                  ol.terms-ol
                    li
                      p.terms-text
                        | 利用者は、利用者が本利用規約（利用者の表明保証を含む）に違反した結果として東京2020関係団体が被ったあらゆる損害を補償するものとします。 特に、各利用者は、東京2020関係団体（その役員、従業員、代理人、関連会社、および代表者を含む）を、利用者（該当する場合、その役員、従業員、代理人、関連会社、代表者および下請業者を含む）による本動画及び／又はアレンジ作品の使用その他本利用規約に関連した行為又は不作為（故意又は過失）に起因して発生した損失、損害、又は人身若しくは財産に対する損傷に対する、あらゆる第三者からの請求または第三者に対する責任から免責し、補償することを約束します（弁護士費用その他の費用を含むがこれらに限りません）。
                    li
                      p.terms-text
                        | 東京2020関係団体は、東京2020関係団体の故意の不正行為または重過失がない限り、いかなる利用者（該当する場合、その役員、従業員、代理人、関連会社、代表者および下請業者を含む）に対しても、利用者が本ビートを利用することにより、またその他本利用規約に関連して被った損害（精神的損害および財産的損害を含む不利益を含む）についていかなる態様によっても責任を負わないものとします。
                //-
                //-
                //-
                li.terms-list_item
                  h2.terms-title
                    | 9.	個人情報の取扱
                  p.terms-text
                    | Make the Beat！の枠組みの中で収集された個人情報は、この第9条および当法人が別途定める「個人情報保護ポリシー」（
                    a(href="https://tokyo2020.org/jp/privacy-policy/") https://tokyo2020.org/jp/privacy-policy/
                    | ）に従って（この優先順位により）、当法人によって処理されます。
                    br
                    | 個人情報は、本ビートの利用を管理するために当法人によって使用されます。特に、本ビートの利用を申請している企業または団体の場合です。
                    br
                    | Make the Beat！に関連して収集された個人情報は日本国内で処理され、本動画に含まれる個人情報は東京2020関係団体と共有される場合があります。 当法人は、大会の終了まで、または法令で要求される期間、個人情報を保持します。利用者は、以下のウェブサイト（
                    a(href="http://tokyo2020.org/jp/") http://tokyo2020.org/jp/
                    | ）において、自身の権利を行使したり、プライバシーに関する要求または質問を提示したりするために、当法人に連絡することができます。
                //-
                //-
                //-
                li.terms-list_item
                  h2.terms-title
                    | 10.	本ビート及び本動画の利用停止
                  p.terms-text
                    | 利用者による本ビート、アレンジ作品及び／又は本動画の利用又は利用者のその他の行為が本利用規約に違反している場合、当法人は、その他の権利や救済を損なうことなく、利用者に対して、（本動画及び公衆アクセスの削除を含む）当該違反行為の是正を求めることができるものとし、利用者は速やかにこれに従うものとします。
                //-
                //-
                //-
                li.terms-list_item
                  h2.terms-title
                    | 11.	譲渡禁止
                  p.terms-text
                    | 利用者は、本ビートの利用権その他本利用規約に基づく一切の権利又は義務を、当法人の書面による事前の承認なく、譲渡し、貸与し、担保提供し、又は委託しないものとします。
                //-
                //-
                //-
                li.terms-list_item
                  h2.terms-title
                    | 12.	規約の変更
                  p.terms-text
                    | 当法人は、自らの裁量により、本利用規約を適宜変更することがあります。利用者の権利に重大な影響を及ぼす変更を行なう場合には（本ビートの利用に関し利用者に対して新たな制限が課される場合など）、当法人は、その変更内容を当法人の定める方法により利用者に対して通知します。
                //-
                //-
                //-
                li.terms-list_item
                  h2.terms-title
                    | 13. 準拠法及び管轄
                  ol.terms-ol
                    li
                      p.terms-text
                        | 本利用規約は、法の抵触に関する規則の定めにかかわらず、日本の法律に準拠して解釈されるものとします。 本利用規約に起因または関連して生じた紛争を友好的に解決できない場合は、東京地方裁判所の専属管轄権に服するものとします。
                    li
                      p.terms-text
                        | 上記の第13条（1）にかかわらず、IOC、IPC、及び／又はそれぞれの関連会社（一方）と利用者又は当法人（他方）との間での本利用規約の実施を目的とする場合、又はIOC、IPC又はその関連会社が、本利用規約に起因または関連する紛争または請求の当事者である場合、そのような事項、紛争、または請求は、ローザンヌ（スイス）の管轄通常裁判所が排他的な管轄を有するものとし、スイスの法律（法の抵触に関する規則を除く）に従って解決されるものとします。
              p.terms-end
                | 以上
              a#terms-modal_close.btn
                | 2020ビートを利用する場合は、利用規約を遵守します
                span （クリックでページを閉じます）
          include footer.pug
    .pageTopFloat TOP
    include ../partials/common_script.pug
    script(type="text/javascript").
      //ページTOPへ戻る（テンプレートに存在するボタンは消す）
      $(function(){
        $('#pageTopBox').hide();
        $('.pageTopFloat').on('click',function(){
          $( 'html,body', parent.document ).animate( { scrollTop: 0 }, 500 );
        });
        $(window).bind("scroll", function() {
          scrollHeight = $(document).height();
          scrollPosition = $(window).height() + $(window).scrollTop();
          if ( (scrollHeight - scrollPosition) / scrollHeight <= 0.02) {
            $('.pageTopFloat').css('bottom','150px');
          } else {
            $('.pageTopFloat').css('bottom','0px');
          }
        });
        $('#terms-modal_close').on('click', function() {
          console.log('Click');
          if (/Chrome/i.test(navigator.userAgent)){
            window.open('/jp/index.html', '_self').close();
            console.log('Chrome');
          } 
          else { 
            window.close();
            console.log('Window.Close')
          }
        });
      });
    //- script(type="text/javascript" src="/assets/js/common/lib/libs.js")
    //- script(type="text/javascript" src=js+"form.js"+timestamp charset="utf-8")
    //- script(src="https://code.jquery.com/jquery-1.12.4.js")
    //- script(type="text/javascript" src= js + "lightcase.min.js"+timestamp charset="utf-8")
    //- script(type="text/javascript").
    //-   $(function(){
    //-     $('#terms-modal_close').on('click', function() {
    //-       window.parent.lightcase.close();
    //-     });
    //-   });
