$color_1: #af0b34;
$color_2: #333333;
$color_3: #03145b;
$color_4: transparent;
$color_5: #fff;
$color_6: #333;
$background_color_1: #efefef;
$background_color_2: #ccc;
$background_color_3: #03145b;

body {
  margin: 0;
  font-family: sans-serif;
}

sup {
  color: $color_1;
  font-size: 20px;
}

sup.fix {
  position: relative;
  top: 5px;
}

br {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
}

.error {
  color: $color_1;
  font-size: 16px;
  line-height: 2em;
  list-style: none;
}

.form {
  padding: 0 3.125%;

  .title {
    margin: 34px 0 27px;
    font-size: 24px;
    font-weight: normal;
  }
}

.form-text {
  margin: 0 0 20px;
  font-size: 13px;
  line-height: 135%;
}

.form-item {
  display: block;
  margin: 0 0 0px;
  padding: 16px 17px;
}

.form-item_title {
  width: 100%;
  margin: 0 0 16px;
  padding: 0;
  font-size: 20px;
  line-height: 135%;
  font-weight: normal;
}

.form-item_contents {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.input-text {
  display: block;
  width: 100%;
  margin: 0 0 0;

  span {
    display: block;
    width: 100%;
    margin: 0 0 5px;
    padding: 10px 0 0 0;
    font-size: 14px;
    color: $color_2;
    box-sizing: border-box;
  }

  input {
    display: block;
    width: 100%;
    padding: 0 3.125%;
    margin-bottom: 16px;
    outline: none;
    border: solid 1px #aaa;
    border-radius: 2px;
    font-size: 14px;
    color: $color_2;
    line-height: 42px;
    box-sizing: border-box;
  }
}

.input-text_full {
  display: block;
  width: 100%;

  input {
    display: block;
    width: 100%;
    padding: 0 3.125%;
    outline: none;
    border: solid 1px #aaa;
    border-radius: 2px;
    font-size: 14px;
    color: $color_2;
    line-height: 42px;
    box-sizing: border-box;
    margin-top: 8px;
  }

  input#e_19 {
    // border: solid 1px #fff;
  }
}

.input-text_full input.attach{
    line-height: 1;
    border: 0;
}

textarea {
  display: block;
  width: 100%;
  // height: 100px;
  padding: 5px 9px;
  outline: none;
  border: solid 1px #aaa;
  border-radius: 2px;
  font-size: 14px;
  color: $color_2;
  box-sizing: border-box;
  margin: 8px 0;
}

.radio-box {
  display: contents;

  label {
    margin: 8px 0 0 0;
  }
}

.radio {
  margin: 14px 10px 10px 0;
  display: none;

  & + label {
    padding: 0.5em 0 0.5em 45px;
    width: 100%;
    position: relative;
    margin-right: 0;
    line-height: 190%;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 8px;
      left: 0;
      width: 26px;
      height: 26px;
      border: 2px solid #03145b;
      border-radius: 50%;
    }
  }

  &:checked {
    & + label {
      color: $color_3;

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 15px;
        left: 7px;
        width: 16px;
        height: 16px;
        background: #03145b;
        border-radius: 50%;
      }
    }
  }
}

.input-file {
  display: inline-block;
  width: 188px;
  height: 44px;
  margin: 0 10px 0 0;
  border: solid 1px #aaa;
  border-radius: 2px;
  box-sizing: border-box;
  text-align: center;
  line-height: 44px;
  font-size: 16px;
  color: $color_2;
  background-color: $background_color_1;

  input {
    display: none;
    // display: none;
  }
}

.input-file_text {
  display: inline-block;
  font-size: 16px;
  color: $color_2;
  line-height: 21px;
}

.checkbox {
  position: relative;
  margin: 0 50px 24px 0;
  padding: 0 0 0 25px;
  font-size: 16px;
  color: $color_2;
  line-height: 16px;

  &::before {
    position: absolute;
    top: 1px;
    left: 0;
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    box-sizing: border-box;
    border: solid 1px #aaa;
  }

  input {
    display: none;
  }
}

.agree-text {
  p {
    margin: 0 0 10px;
    font-size: 14px;
    color: $color_2;
    line-height: 18px;
  }
}

.input-date_wapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;

  span {
    display: inline-block;
    margin: 0 10px 10px;
    font-size: 14px;
    color: $color_2;
    line-height: 38px;
  }
}

.input-date {
  position: relative;
  width: 280px;
  margin: 0 0 10px;

  &::before {
    position: absolute;
    top: 9px;
    right: 12px;
    // content: url(/mcs/img?id=2&s=1&r=7a16888a869c3d85d1cfd328e859c8e4);
  }

  input {
    display: block;
    // width: 100%;
    width: 280px;
    padding: 0 18px;
    outline: none;
    border: solid 1px #aaa;
    border-radius: 2px;
    font-size: 14px;
    color: $color_2;
    line-height: 38px;
    box-sizing: border-box;
  }
}

input[type="date"] {
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  &::-webkit-clear-button {
    -webkit-appearance: none;
  }

  &::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 12px;
    top: 9px;
    padding: 0;
    width: 22px;
    height: 29px;
    background: transparent;
    color: $color_4;
    cursor: pointer;
  }
}

#formButton{
    padding: 16px;
}

.form-btn {
  -webkit-appearance: none;
  border-radius: 0;
  display: block;
  width: 100%;
  height: 74px;
  margin: 0 auto;
  background-color: $background_color_2;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: $color_2;
  pointer-events: none;
  border: 0;

  span {
    font-size: 18px;
    font-weight: bold;
    color: $color_5;
  }
}

.form-btn.active {
  background-color: $background_color_3;
  pointer-events: auto;
  color: $color_5;
}

#formbutton {
  position: relative;

  &::after {
    position: absolute;
    top: 24px;
    right: 50%;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0 -130px 0 0;
    content: "";
    background-image: url(https://krs.bz/mcs/img?id=1&s=1&r=86b70d7d228ab0a2dc4868f13e04e7f1);
  }
}

#formbutton.active {
  &::after {
    background-image: url(https://krs.bz/mcs/img?id=4&s=1&r=a7c35f88f59c6774c4c3516f44d31d78);
  }
}

.input-text_zip {
  display: flex;
  width: 100%;
  line-height: 40px;
  margin-top: 8px;

  input {
    display: block;
    width: 50%;
    padding: 0 18px;
    margin-top: 0;
    outline: none;
    border: solid 1px #aaa;
    border-radius: 2px;
    font-size: 14px;
    line-height: 42px;
    box-sizing: border-box;
  }
}

.input-text_zip input.btn_zip {
  -webkit-appearance: none;
  border-radius: 0;
  border: 0;
  margin-left: 10px;
  display: block;
  width: 100px;
  height: 44px;
  background-color: $background_color_3;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  color: $color_5;
}

.selectbox {
  overflow: hidden;
  height: 44px;
  margin-top: 8px;
  position: relative;
  border: 1px solid #aaa;
  border-radius: 2px;
  background: #fff;

  select {
    width: auto;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    background: transparent;
    background-image: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
    padding: 8px 38px 8px 18px;
    color: $color_6;
    font-size: 16px;
    line-height: 28px;

    &::-ms-expand {
      display: none;
    }
  }

  &::before {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 12px solid #841a20;
    pointer-events: none;
  }
}

.e_19_upload_part {
  input {
    line-height: 1;
    margin-top: 7px;
    padding: 10px 0 10px 0;
  }
}

.check {
  position: relative;
  margin: 0 40px 24px 0;
  padding: 0 0 0 5px;
  font-size: 16px;
  color: $color_2;
}

.checkbox-parts {
  display: block;
  padding-left: 40px;
  position: relative;
  font-size: 14px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    width: 30px;
    height: 30px;
    border: 2px solid #03145b;
    border-radius: 4px;
  }
}

.checkbox-parts.disabled {
  &::before {
    border: 2px solid #ccc !important;
  }
}

.checkbox-input {
  display: none;

  &:checked {
    & + .checkbox-parts {
      color: $color_3;

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 4px;
        left: 9px;
        width: 10px;
        height: 22px;
        transform: rotate(40deg);
        border-bottom: 5px solid #03145b;
        border-right: 5px solid #03145b;
      }
    }
  }
}
