$color_1: #af0b34;
$color_2: #333;
$color_4: transparent;
$color_5: #fff;
$color_6: #03145b;
$color_7: #ccc;
$color_8: #aaa;
$font_family_1: Meiryo, sans-serif;
$background_color_1: #efefef;
$background_color_2: #ccc;
$background_color_3: #03145b;

html {
  height: 100%;
  // overflow-y: scroll;
}

body {
  height: 100%;
  margin: 0;
  font-family: Meiryo, sans-serif;
  // overflow-y: scroll;
}
body *{
  border: 1px solid #fff;
}

#content {
  // overflow-y: scroll;

  form {
    // overflow-y: scroll;

    .form {
      // overflow-y: scroll;
    }
  }
}

sup {
  color: $color_1;
}

sup.fix {
  position: relative;
  top: 5px;
}

.form {
  width: 100%;

  .title {
    margin: 0 0 28px;
    font-size: 30px;
    font-weight: bold;
  }
}

.form-text {
  margin: 0 0 20px;
  font-size: 16px;
  line-height: 27px;
}

.form-item {
  display: flex;
  margin: 0 0 50px;
  flex-wrap: nowrap;
}

.form-item.who {
  margin-bottom: 20px;
}

.zip {
  position: relative;

  ul {
    position: absolute;
    top: 50px;
    left: 285px;
  }
}

.date {
  position: relative;

  ul {
    // position: absolute;
    // top: 50px;
    // left: 285px;
  }
}

.form-item_title {
  width: 300px;
  padding: 10px 0 0;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.form-item_contents {
  display: flex;
  width: calc(100% - 240px);
  flex-wrap: wrap;
  ul{width: 100%;}
}

.input-text {
  display: flex;
  width: 100%;
  margin: 0 0 50px;
  height: 42px;

  span {
    display: block;
    width: 240px;
    padding: 10px 0 0 20px;
    font-size: 16px;
    color: $color_2;
    box-sizing: border-box;
  }

  label {
    width: 100%;
    max-width: 562px;
    &.half {
      width: 50%;
      max-width: 280px;
    }
  }

  input {
    display: block;
    width: 100%;
    padding: 0 18px;
    outline: none;
    border: solid 1px $color_8;
    border-radius: 2px;
    font-size: 16px;
    color: $color_2;
    line-height: 42px;
    height: 42px;
    box-sizing: border-box;
  }
}

input[type="text"]:focus {
  border: 2px solid #4c90fe;
  outline: 0;
}

input[type="url"]:focus {
  border: 2px solid #4c90fe;
  outline: 0;
}

input[type="file"]:focus {
  border: 2px solid #4c90fe;
  outline: 0;
}

input:focus {
  outline: 2px solid #4c90fe;
}

textarea:focus {
  outline: 2px solid #4c90fe;
}

.selectbox select:focus {
  outline: 2px solid #4c90fe;
}

.input-text_zip input[type="button"]:focus {
  outline: 2px solid #4c90fe;
}

input[type="radio"]:focus + label,
input[type="checkbox"]:focus + .checkbox-parts {
  box-shadow: 0 0 0 2px #4c90fe;
}

.input-text_full {
  display: block;
  width: 100%;

  input {
    display: block;
    width: 100%;
    padding: 0 16px;
    background-color: #fff;
    outline: none;
    border: solid 1px $color_8;
    border-radius: 2px;
    font-size: 16px;
    color: $color_2;
    line-height: 42px;
    height: 42px;
    box-sizing: border-box;
    font-family: $font_family_1;
  }

  textarea {
    display: block;
    width: 100%;
    padding: 0 18px;
    outline: none;
    border: solid 1px $color_8;
    border-radius: 2px;
    font-size: 16px;
    color: $color_2;
    line-height: 24px;
    height: 100px;
    box-sizing: border-box;
    font-family: $font_family_1;

    &:focus {
      outline: 2px solid #4c90fe;
    }
  }

  input[type=checkbox] {
    width: auto;
    display: inline;
    height: 16px;
  }

  input#e_19 {
    border: solid 1px #fff;
  }
  input[type="file"] {
    border: 0;
    line-height: 1;
    &::-webkit-file-upload-button {
      border: 1px solid #333;
    }
  }
}

.e_19_upload_part {
  input {
    line-height: 1;
    margin-top: 7px;
    border: 0;
  }
}

.e_19_notice_part{
  display: none;
}
.e_54_notice_part{
  display: none;
}

.input-text_zip {
  display: flex;
  line-height: 40px;

  input {
    font-family: Meiryo, sans-serif;
    display: block;
    width: 172px;
    padding: 0 18px;
    outline: none;
    border: solid 1px $color_8;
    border-radius: 2px;
    font-size: 16px;
    line-height: 42px;
    box-sizing: border-box;
  }
}

.textarea {
  display: block;
  width: 100%;
  height: 100px;
  padding: 10px 18px;
  outline: none;
  border: solid 1px $color_8;
  border-radius: 2px;
  font-size: 16px;
  color: $color_2;
  box-sizing: border-box;
}

.selectbox {
  overflow: hidden;
  height: 44px;
  position: relative;
  border: 1px solid $color_8;
  border-radius: 2px;
  background: #fff;

  select {
    font-family: Meiryo, sans-serif;
    width: 200px;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    background: transparent;
    background-image: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
    padding: 8px 38px 8px 18px;
    color: $color_2;
    font-size: 16px;
    line-height: 28px;

    &::-ms-expand {
      display: none;
    }
  }

  &::before {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 12px solid #841a20;
    pointer-events: none;
  }
}

.input-file {
  display: inline-block;
  width: 188px;
  height: 44px;
  margin: 0 10px 0 0;
  border: solid 1px $color_8;
  border-radius: 2px;
  box-sizing: border-box;
  text-align: center;
  line-height: 44px;
  font-size: 16px;
  color: $color_2;
  background-color: $background_color_1;

  input {
    display: none;
  }
}

.input-file_text {
  display: inline-block;
  font-size: 16px;
  color: $color_2;
  line-height: 21px;
}

.agree-text {
  textarea {
    width: 95%;
    font-size: 14px;
    line-height: 1.4em;
    padding: 2%;
    border: 1px solid $color_8;
    font-family: $font_family_1;
    margin-bottom: 10px;
  }
}

.input-date_wrapper {
  // display: flex;
  width: 100%;

  span {
    display: inline-block;
    margin: 0 20px;
    font-size: 16px;
    color: $color_2;
    line-height: 44px;
  }
}

.input-date {
  position: relative;

  input {
    display: block;
    width: 280px;
    padding: 0 18px;
    outline: none;
    border: solid 1px $color_8;
    border-radius: 2px;
    font-size: 16px;
    color: $color_2;
    line-height: 42px;
    height: 42px;
    box-sizing: border-box;
    background-image: url('##img:2##');
    background-image: none;
    background-repeat: no-repeat;
    background-position: 150px center;

    @media all and (-ms-high-contrast: none) {
      background-image: none;
    }
  }
}

input[type="date"] {
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  &::-webkit-clear-button {
    -webkit-appearance: none;
  }

  &::-webkit-calendar-picker-indicator {
    background: transparent;
    color: $color_4;
    cursor: pointer;
    display: block;
    width: 22px;
    height: 24px;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.form-btn {
  display: block;
  width: 500px;
  height: 74px;
  margin: 0 auto;
  background-color: $background_color_2;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: $color_5;
  pointer-events: none;
  border: 0;

  span {
    font-size: 18px;
    font-weight: bold;
    color: $color_5;
  }
}

.form-btn.active {
  background-color: $background_color_3;
  pointer-events: auto;
}

#formButton {
  position: relative;

  &::after {
    position: absolute;
    top: 24px;
    right: 50%;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0 -130px 0 0;
    content: "";
    background-image: url(https://krs.bz/mcs/img?id=1&s=1&r=86b70d7d228ab0a2dc4868f13e04e7f1);
  }
}

#formButton.active {
  &::after {
    background-image: url(https://krs.bz/mcs/img?id=4&s=1&r=a7c35f88f59c6774c4c3516f44d31d78);
  }
}

.btn_zip {
  margin-left: 10px;
  display: block;
  width: 100px;
  height: 44px;
  background-color: $background_color_3;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  color: $color_5;
}

.error {
  color: $color_1;
  font-size: 16px;
  line-height: 1.5em;
  list-style: none;
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
}

.radio-box {
  // display: contents;
  display: block;

  label {
    margin: 10px 55px 0 0;
    min-width: 34%;
    display: inline-block;
  }

  br {
    display: none;
  }
}

.radio {
  margin: 14px 10px 10px 0;
  filter: alpha(opacity=0);
  -moz-opacity:0;
  opacity:0;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;

  &:focus { border: 2px solid #4c90fe; }

  & + label {
    padding-left: 40px;
    position: relative;
    margin-right: 35px;
    line-height: 220%;
    display: inline-block;
    height: 35px;
    white-space: nowrap;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      border: 2px solid $color_6;
      border-radius: 50%;
    }
  }

  &:checked {
    & + label {
      color: $color_6;

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 8px;
        left: 8px;
        width: 18px;
        height: 18px;
        background: $color_6;
        border-radius: 50%;
      }
    }
  }
}

.checkbox {
  position: relative;
  margin: 0 50px 24px 0;
  padding: 0 0 0 25px;
  font-size: 16px;
  color: $color_2;
  line-height: 16px;
}

.check {
  position: relative;
  margin: 0 40px 24px 0;
  padding: 0 0 0 5px;
  font-size: 16px;
  color: $color_2;
}

.checkbox-parts {
  padding-left: 40px;
  position: relative;
  margin-right: 20px;
  line-height: 250%;
  padding-top: 8px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 2px solid $color_6;
    border-radius: 4px;
  }
}

.checkbox-input {
  // display: none;
  filter: alpha(opacity=0);
  -moz-opacity:0;
  opacity:0;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;

  &:focus { border: 2px solid #4c90fe; }

  &:checked {
    & + .checkbox-parts {
      color: $color_6;

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: -1px;
        left: 9px;
        width: 10px;
        height: 22px;
        transform: rotate(40deg);
        border-bottom: 5px solid $color_6;
        border-right: 5px solid $color_6;
      }
    }
  }
}

.checkbox-parts.disabled {
  &::before {
    border: 2px solid #ccc !important;
  }
}

.e_19_check_part {
  display: none;
}

input {
  &::placeholder {
    color: $color_7;
    font-size: 1.2em;
    font-style: normal;
  }
}

wrap {
  .col {
    float: left;
  }
}

#wrap {
  .col {
    a {
      text-decoration: none;
    }
  }
}
