.terms {
  padding: 30px;
  box-sizing: border-box; }
  @media (max-width: 768px) {
    .terms {
      overflow: visible; } }
  .terms .title {
    margin: 0 0 28px;
    font-size: 16px;
    font-weight: bold;
    text-align: center; }
  .terms .terms-text {
    margin: 0 0 16px;
    font-size: 14px;
    line-height: 133%; }
  .terms .terms-list .terms-list_item {
    margin-bottom: 16px; }
    .terms .terms-list .terms-list_item .terms-title {
      margin: 0 0 4px;
      font-size: 14px;
      font-weight: bold; }
      .terms .terms-list .terms-list_item .terms-title + .terms-text {
        margin-left: 28px; }
    .terms .terms-list .terms-list_item .terms-ol {
      list-style-type: none;
      counter-reset: item; }
      .terms .terms-list .terms-list_item .terms-ol li {
        margin: 0 0 5px; }
        .terms .terms-list .terms-list_item .terms-ol li p {
          position: relative;
          margin: 0;
          padding: 0 0 0 50px; }
          .terms .terms-list .terms-list_item .terms-ol li p::before {
            position: absolute;
            left: 0;
            display: inline-block;
            counter-increment: item;
            content: "(" counter(item) ")"; }
      .terms .terms-list .terms-list_item .terms-ol ol {
        padding-left: 50px;
        counter-reset: item; }
        .terms .terms-list .terms-list_item .terms-ol ol li {
          margin: 0 0 5px; }
          .terms .terms-list .terms-list_item .terms-ol ol li p {
            margin: 0;
            padding-left: 20px; }
            .terms .terms-list .terms-list_item .terms-ol ol li p::before {
              position: absolute;
              top: 5px;
              left: 0;
              display: inline-block;
              width: 1.1em;
              content: counter(item);
              font-size: 13px;
              line-height: 1.1em;
              border: solid 1px;
              border-radius: 50%;
              text-align: center; }
  .terms .terms-end {
    font-size: 16px;
    text-align: right; }
  .terms .btn {
    width: 100%;
    height: 80px;
    margin: 30px 0 0;
    padding: 15px 0 0;
    border: 2px solid #1b83b9;
    background-color: #1b83b9;
    box-sizing: border-box;
    display: block;
    color: #fff;
    font-family: Meiryo, sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
    text-decoration: none;
    text-align: center; }
    .terms .btn:hover {
      color: #fff; }
    .terms .btn span {
      display: block;
      font-size: 13px; }
    @media screen and (max-width: 768px) {
      .terms .btn {
        height: 100px;
        padding: 15px 15px 0; } }

#jp .terms-text {
  line-height: 20px; }

#jp .terms-list .terms-list_item {
  margin-bottom: 24px; }

#en .terms-ol ol li p::before {
  content: "(" counter(item, lower-roman) ")";
  border: 0;
  width: 1.5em;
  left: -10px; }

#en .terms .btn {
  height: 80px; }
  @media screen and (max-width: 768px) {
    #en .terms .btn {
      height: 100px; } }

.pageTopFloat {
  background-color: #002063;
  color: #fff;
  width: 80px;
  height: 80px;
  text-align: center;
  font-weight: 600;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 21px;
  letter-spacing: 0.1em;
  position: fixed;
  right: 16px;
  bottom: 0; }
  @media screen and (max-width: 768px) {
    .pageTopFloat {
      width: 50px;
      height: 50px;
      font-size: 10px;
      border-radius: 25px; } }
  .pageTopFloat::before {
    content: url(/assets/img/icon_angle_up.svg);
    display: block;
    padding: 15px 0 0;
    margin: 0 auto 10px;
    width: 32px;
    height: 18px; }
    @media screen and (max-width: 768px) {
      .pageTopFloat::before {
        margin-bottom: 15px;
        overflow: hidden; } }
