script(type="text/javascript" src="/assets/js/common/lib/libs.js")
script(type="text/javascript" src="/assets/m/js/common/lib/libs.js")
script(type="text/javascript" src="/assets/js/common/lib/jquery.cookie.js")
script(type="text/javascript" src="/assets/m/js/common/utils/utils.js")
script(type="text/javascript" src="/assets/js/common/script.js")
