meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="format-detection" content="telephone=no")
meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0")
title #{title}
meta(name="keywords" content=keyword)
meta(name="description" content=description)
meta(property="og:title" content=title)
meta(property="og:type" content="article")
meta(name="copyright" content="The Tokyo Organising Committee of the Olympic and Paralympic Games. All rights reserved. ")
meta(property="og:image" content="https://tokyo2020.org/jp/assets/img/common/ogp.jpg?u=20160620")
meta(property="og:url" content="https://tokyo2020.org/jp/special/makethebeat/")
meta(property="og:site_name" content=title)
meta(property="og:description" content=description)
link(rel="apple-touch-icon" href="https://tokyo2020.org/assets/img/common/tokyo2020.png?u=20160620")
link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,500,500italic,700,700italic,100,100italic")
link(rel="shortcut icon" href="https://tokyo2020.org/assets/img/common/icon.ico?emblem=tokyo2020")
link(rel="stylesheet" href="/assets/css/common/reset.css")
link(rel="stylesheet" href="/assets/css/common/article.css")
link(rel="stylesheet" href="/assets/css/common/common_sp.css")
link(rel="stylesheet" href="/assets/css/common/common_pc.css")
link(rel="stylesheet" href="/assets/css/common/common_specialheader.css")
