footer#footer(role="contentinfo")
  #pageTopBox
    #pageTopBoxInner
      p#btn_pagetop.btn.btn_pagetop
        a.ui(href="#") Back to Top
  #footerLower
    #footerLowerInner
      .pc-element
        .footer-lower-main
          small#copyRights.copyrights
            span The Tokyo Organising Committee of the Olympic and Paralympic Games
            |                       ©The Tokyo Organising Committee of the Olympic and Paralympic Games. All rights reserved.
      .sp-element
        .ft_bottom
          p.copyrights.textBase.mb00
            | The Tokyo Organising Committee of the Olympic and Paralympic Games
          p
            | ©The Tokyo Organising Committee of the Olympic and Paralympic Games. All rights reserved.
