- var title = "TOKYO 2020 Make The Beat! | The Tokyo Organising Committee of the Olympic and Paralympic Games";
- var keyword = "Make The Beat,2020beat,cheering,Olympic,Paralympic,Tokyo,2020,Organising Committee,news,sport,Games Vision";
- var description = "TAn introduction to TOKYO 2020 Make The Beat! cheering project.";
- var css = "/assets/css/";
- var img = "/assets/img/";
- var js  = "/assets/js/";
- var timestamp = "?timestamp=20200107";
doctype html
html.responsive(lang="en")
  head
    include ../partials/common_meta.pug
    link(href="//fonts.googleapis.com/css?family=Barlow+Condensed:600&display=swap" rel="stylesheet")
    link(rel="stylesheet" href=css+"form.css")
    include ../partials/gtm.pug
  body#en
    include ../partials/noscript.pug
    #contents_contaienr.container
      include ../partials/fb-root.pug
      include header_form.pug
      nav.breadcrumbs.pc-element(role="navigation" aria-label="現在位置")
        p
          //- a.breadcrumbs__link(href="https://makethebeat.tokyo2020.org/en/") home
          a.breadcrumbs__link(href="https://tokyo2020.org/en/") home
          img.ic_breadcrumbs(src="/assets/img/common/ic05.png" alt="＞")
          //- span.breadcrumbs__link Application for use of 2020beat (for either a company or an organisation)
          a.breadcrumbs__link(href="https://makethebeat.tokyo2020.org/en/") TOKYO 2020 Make The Beat!
      #contents_wrapper.contents_wrapper.compornent
        nav#global_menu.global_menu.sp-element(role="navigation" aria-label="スマートフォン用メニュー" aria-hidden="true")
          ul#global_menulist.global_menulist
            li.has_children
              p.trigger.language Language
              .view.global_second_view
                ul.global_second_menu.language
                  li
                    a(href="/jp/form.html") 日本語
                  li.active
                    a(href="/en/form.html") English
            li
              a(href="https://tokyo2020.org/en/") home
            li
              a(href="https://makethebeat.tokyo2020.org/en/") TOKYO 2020 Make The Beat!
        .contents_body
          main#contentsContainer(role="main")
            .form
              iframe#iframe_krs(name="iframe_krs" src="https://krs.bz/mcs/m?f=3" width="auto" height="auto") 
          include footer.pug
      .pageTopFloat TOP
    //-include ../partials/common_script.pug
    script(type="text/javascript" src="/assets/js/common/lib/libs.js")
    script(type="text/javascript" src="/assets/m/js/common/lib/libs.js")
    script(type="text/javascript" src="/assets/js/common/lib/jquery.cookie.js")
    script(type="text/javascript" src="/assets/m/js/common/utils/utils.js")
    //-script(type="text/javascript" src="/assets/js/common/script.js")
    script(type="text/javascript" src=js+"form.js"+timestamp charset="utf-8")
