- var title = "TOKYO 2020 Make The Beat! | The Tokyo Organising Committee of the Olympic and Paralympic Games";
- var keyword = "Make The Beat,2020beat,cheering,Olympic,Paralympic,Tokyo,2020,Organising Committee,news,sport,Games Vision";
- var description = "An introduction to TOKYO 2020 Make The Beat! cheering project.";
- var css = "/assets/css/";
- var img = "/assets/img/";
- var js  = "/assets/js/";
- var timestamp  = "?timestamp=20191216";
doctype html
html.responsive(lang="en")
  head
    include ../partials/common_meta.pug
    link(href="//fonts.googleapis.com/css?family=Barlow+Condensed:600&display=swap" rel="stylesheet")
    link(rel="stylesheet" href=css+"lightcase/lightcase.min.css")
    link(rel="stylesheet" href=css+"top.css"+timestamp)
      
    link(rel="stylesheet" href=css+"slick-theme.css")
    link(rel="stylesheet" href=css+"slick.css")
    include ../partials/gtm.pug
  body#en
    include ../partials/noscript.pug
    #contents_contaienr.container
      //- include ../partials/fb-root.pug
      include header.pug
      nav.breadcrumbs.pc-element(role="navigation" aria-label="現在位置")
        p
          a.breadcrumbs__link(href="https://tokyo2020.org/en/") home
          img.ic_breadcrumbs(src="/assets/img/common/ic05.png" alt="＞")
          span.breadcrumbs__link.nohref TOKYO 2020 Make The Beat!
      #contents_wrapper.contents_wrapper.compornent
        include sp_navi.pug
        .contents_body
          .main-view
            .main-view__inner
              .main-view__bg
                img.pc-element(src=img+"main-img.svg" width="100%" alt="bg")
                img.sp-element(src=img+"main-img_sp.svg" width="100%" alt="bg")
              .main-view__content
                .main-view__title
                  p.main-view__make
                    img(src=img+"main-view.svg" width="100%" alt="Make The Beat!")
          .page_navi-wrapper
            a.page_navi(href="#") MENU
            ul.page_navi-link
              li
                a.page_navi-a(href="#makethebeat") What is "Make The Beat!"?
              li
                a.page_navi-a(href="#sns") Available Social Media
              li
                a.page_navi-a(href="#movies") Sample
              li
                a.page_navi-a(href="#usage") Usage of 2020beat
              li
                a.page_navi-a(href="#contact") Contact
          main#contentsContainer(role="main")
            #makethebeat.support
              .support-inner
                .support-movie
                  .slider
                    a(href="//www.youtube.com/embed/9uR7oCcE4Fk?rel=0" data-rel="lightcase")
                      img(src=img+"en/slide1.png" alt="")
                    a( data-rel="")
                      img(src=img+"en/slide2.png" alt="")
                    a(href="//www.youtube.com/embed/TM4CYbTNzGc?rel=0" data-rel="lightcase")
                      img(src=img+"en/slide3.png" alt="")
                  .slider-toolbar
                    .slider-toolbar-inner
                      .slider-prev
                      .slider-pause.stop
                      .slider-next
                .en-support-head
                  img.pc-element(src=img+"en-support-head.svg" width="100%" alt="")
                  img.sp-element(src=img+"en-support-head_sp.svg" width="100%" alt="")
                .support-body
                  .en-support-text
                    p
                      | “Make The Beat!”
                      br
                      | It’s a universal cheer everyone in the world can join through social media.
                      br.pc-element
                      | The video you post could be on the big screen at competition venues.
                      br.pc-element
                      | Your 2020beat will charge the Tokyo 2020 Games with excitement!
                      br.pc-element
                      | So what are you waiting for?
            #join.step
              .step-inner
                ul.step-list
                  li.step-item.en-step1
                    .step-item__head
                      img.pc-element(src=img+"en-step-head_001.svg" width="100%" alt="Take a selfie video!")
                      img.sp-element(src=img+"en-step1_sp.svg" width="100%" alt="Take a selfie video!")
                    .step-item__body
                      .step-item__img
                        img(src=img+"step-img_001.svg" width="100%" alt="Take a selfie video! image")
                      .step-item__text
                        p Take a video of yourself to the 2020beat.
                  li.step-item.en-step2
                    .step-item__head
                      img.pc-element(src=img+"en-step-head_002.svg" width="100%" alt="Post!")
                      img.sp-element(src=img+"en-step2_sp.svg" width="100%" alt="Post!")
                    .step-item__body
                      .step-item__img
                        img(src=img+"step-img_002.svg" width="100%" alt="Post! image")
                      .step-item__text
                        p
                          | Post the video on social media with
                          br
                          | the hashtag #2020beat.
                ul.step-list
                  li.step-item.en-step3
                    .step-item__head
                      img.pc-element(src=img+"en-step-head_003.svg" width="100%" alt="Posts will be connected!")
                      img.sp-element(src=img+"en-step3_sp.svg" width="100%" alt="Posts will be connected!")
                    .step-item__body
                      .step-item__img
                        img(src=img+"step-img_003.svg" width="100%" alt="Posts will be connected! images")
                      .step-item__text
                        p One video will be created from everyone’s posts.
                  li.step-item.en-step4
                    .step-item__head
                      img.pc-element(src=img+"en-step-head_004.svg" width="100%" alt="Find yourself in the videos!")
                      img.sp-element(src=img+"en-step4_sp.svg" width="100%" alt="Find yourself in the videos!")
                    .step-item__body
                      .step-item__img
                        img(src=img+"step-img_004.svg" width="100%" alt="Find yourself in the videos! image")
                      .step-item__text
                        p Your video might be shown on the big screen at venues!
              .step-footer
            #sns.sns
              .sns-inner
                .en-sns-head
                  img(src=img+"en-available_sns.svg" width="100%" alt="available SNS")
                .sns-body
                  ul.sns-list
                    li.sns-item
                      a(href="")
                        img(src=img+"icon-facebook.svg" width="100%" alt="facebook")
                    li.sns-item
                      a(href="")
                        img(src=img+"icon-instagram.png" width="100%" alt="instagram")
                    li.sns-item
                      a(href="")
                        img(src=img+"icon-twitter.svg" width="100%" alt="twitter")
                    li.sns-item
                      a(href="")
                        img(src=img+"icon-douyin.svg" width="100%" alt="douyin")
                    li.sns-item
                      a(href="")
                        img(src=img+"icon-weibo.svg" width="100%" alt="weibo")
                .sns-foot
                  p.en-sns-foot__text Please follow the terms and conditions of each platform.
            #movies.sample
              .sample-inner
                .en-sample-head
                  img(src=img+"en-sample-head.svg" width="100%" alt="Sample movie")
                .sample-body
                  ul#sample-move.sample-move
                  label.accordion-open show more
                  label.accordion-close close
            #usage.terms
              .terms-inner
                .en-terms-head
                  img.pc-element(src=img+"en-terms-head.svg" alt="Usage of 2020beat")
                  img.sp-element(src=img+"en-terms-head_sp.svg" alt="Usage of 2020beat")
                  p
                    | The 2020beat gives everyone has a chance to energise the Tokyo 2020 Games.
                    br.pc-element
                    | You can perform to the original 2020beat, or arrange your own 2020beat to perform however you like.
                    br.pc-element
                    | You can post your recording to social media, as long as it isn’t ambush marketing.
                .terms-body
                  ul.terms-list
                    li.terms-item
                      p.title For individual users
                      p.text
                        | Please read the usage terms and conditions first and follow the guidelines for the usages of 2020beat. The original 2020beat is available each social media platform.
                        br
                        | *Now available on TikTok. Other social media will be coming soon. (Jan 2020)
                      //- a.btn-disabled(href="#") Coming soon
                      a(href="./terms/index.html" target="_blank") Agree to “2020beat Terms of Use”
                    li.terms-item
                      p.title For companies and associates
                      p.text
                        | Please fill out the application for use of the 2020beat in advance. The Tokyo 2020 Organising Committee will provide music data and sheet music after approval.
                      //- a.btn-disabled(href="#") Coming soon
                      a(href="form.html") Apply for 2020beat
                  //p.bottom-text
                    | As soon as preparations are complete, the 2020beat Terms of Use and Usage Application Form will be released.
            #contact.contact
              .contact-inner
                .contact-head
                  img.pc-element(src=img+"en-contact-head.svg"+timestamp alt="お問合せ窓口")
                  img.sp-element(src=img+"en-contact-head_sp.svg"+timestamp alt="お問合せ窓口")
                .contact-body
                  p 
                    | We accept inquiries by email in Japanese and English.
                    br.pc-element
                    | Please note that the indicated email address has been altered as a measure against junk mail. Please replace (at) with @ when contacting us.
                    br
                    br
                    | TOKYO 2020 “Make The Beat!” Office
                    br
                    | contact-makethebeat(at)tokyo2020.jp
          include footer.pug
      .pageTopFloat TOP
    include ../partials/common_script.pug
    script(type="text/javascript" src=js+"lightcase.min.js"+timestamp charset="utf-8")
    script(type="text/javascript" src=js+"script.js"+timestamp charset="utf-8")
    
    script(type="text/javascript" src=js+"click.js" charset="utf-8")
    script(type="text/javascript" src=js+"top.js" charset="utf-8")
