nav#global_menu.global_menu.sp-element(role="navigation" aria-label="スマートフォン用メニュー" aria-hidden="true")
  ul#global_menulist.global_menulist
    li.has_children
      p.trigger.language Language
      .view.global_second_view
        ul.global_second_menu.language
          li
            a(href="/jp/terms/index.html") 日本語
          li.active
            a(href="/en/terms/index.html") English
    li
      a(href="https://tokyo2020.org/en/") home
    li
      a(href="https://makethebeat.tokyo2020.org/en/") TOKYO 2020 Make The Beat!
