- var title = "2020beat Terms of Use | TOKYO 2020 Make The Beat! | The Tokyo Organising Committee of the Olympic and Paralympic Games";
- var keyword = "Make The Beat,2020beat,cheering,Olympic,Paralympic,Tokyo,2020,Organising Committee,news,sport,Games Vision";
- var description = "An introduction to TOKYO 2020 Make The Beat! cheering project.";
- var css = "/assets/css/";
- var img = "/assets/img/";
- var js  = "/assets/js/";
- var timestamp  = "?timestamp=20191206";
doctype html
html.responsive(lang="en")
  head
    include ../partials/common_meta.pug
    link(rel="stylesheet" href= css + "terms.css"+timestamp)      
    include ../partials/gtm.pug
  body#en
    include ../partials/noscript.pug
    #contents_contaienr.container
      include header_term.pug
      nav.breadcrumbs.pc-element(role="navigation" aria-label="現在位置")
        p
          a.breadcrumbs__link(href="https://tokyo2020.org/en/") home
          //- a.breadcrumbs__link(href="https://makethebeat.tokyo2020.org/en/") home
          img.ic_breadcrumbs(src="//tokyo2020.org/assets/img/common/ic05.png" alt="＞")
          //- span.breadcrumbs__link 2020beat Terms of Use
          a.breadcrumbs__link(href="https://makethebeat.tokyo2020.org/en/") TOKYO 2020 Make The Beat!
      #contents_wrapper.contents_wrapper.compornent
        include sp_navi_term.pug
        .contents_body
          main#contentsContainer(role="main")
            .terms
              h1.title 2020beat Terms of Use
              //-
              //-
              //-
              p.terms-text
                | The Tokyo Organising Committee of the Olympic and Paralympic Games (the “Committee”) launched “Make The Beat!”, a project fusing sound, technology and social media, to allow fans from all over the world to take part in energising venues and encouraging their favourite teams and athletes for the Tokyo 2020 Olympic and Paralympic Games (the “Games”).
              p.terms-text
                | Make The Beat! will introduce fans to a specific beat created for the project, a melodic rhythm that spectators can dance or clap along to. The said beat and all related materials and/or technology (including music data, sound source and sheet music) shall be collectively referred to hereinafter as the “2020beat”.
              p.terms-text
                | In order to be provided with and to use the 2020beat as to be part of the project Make The Beat!, the users shall first read and agree to the following 2020beat terms of use (the “Terms of Use”).
              ol.terms-list
                //-
                //-
                //-
                li.terms-list_item
                  h2.terms-title
                    | 1. Users of the 2020beat
                  p.terms-text
                    | Individuals, companies and organizations may use the 2020beat according to these Terms of Use but under different conditions. In particular, companies and organizations willing to use the 2020beat shall file an application (via the website 
                    a(href="https://makethebeat.tokyo2020.org/en/") https://makethebeat.tokyo2020.org
                    | ) and obtain the Committee’s prior approval before using the 2020beat. Furthermore, and as provided for in Article 4 below, there might be restrictions regarding the scope of use of the 2020beat depending on the user’s type (individuals, companies or organizations). Each user shall strictly observe all applicable conditions and restrictions.
                //-
                //-
                //-
                li.terms-list_item
                  h2.terms-title 
                    | 2. Purpose of Use and Period of Accessibility to the 2020beat
                  ol.terms-ol
                    li
                      p.terms-text
                        | The users can use the 2020beat (i) personally (non-transferable, non-assignable, non-sublicensable right to use); (ii) in a non-exclusive manner; (iii) always in strict observance of the terms and conditions of these Terms of Use; and (iv) only for the nonprofit purpose of fostering momentum of the Games and promoting the Olympic and/or Paralympic movement and the Olympic values (the “Purpose”). The users shall not use the 2020beat for any purpose other than the Purpose.
                    li
                      p.terms-text 
                        | The 2020beat, in particular the sound source, will be made accessible until September 30, 2020.
                //-
                //-
                //-
                li.terms-list_item
                  h2.terms-title
                    | 3. Acquisition and Use of Sound Source of the 2020beat
                  p.terms-text
                    | Users which are either a company or an organization shall only acquire the sound source of the 2020beat from a specific URL to be separately provided by the Committee. The Committee will only provide a user (company or organization) with the said URL if (i) the user has agreed to these Terms of Use; (ii) it has complied with the application procedures prescribed by the Committee; and (iii) its application is approved by the Committee. 
                    br
                    | Where the user is an individual, he/she may acquire the sound source of the 2020beat which is publicly made available by the Committee on social media.
                    br
                    | By acquiring and/or using the sound source of the 2020beat, any user (individuals, companies or organization) shall be deemed to have expressly agreed to these Terms of Use.
                //-
                //-
                //-
                li.terms-list_item
                  h2.terms-title
                    | 4. Use of the 2020beat by the Users
                  ol.terms-ol
                    li
                      p.terms-text
                        | Any authorized user (who/which has read and agreed to these Terms of Use) can use the sound source of the 2020beat (i) as provided by the Committee according to Article 3 above (i.e.: via URL for companies or organizations and via social media for individuals) or (ii) arrange it in order to film and create a video of a performance (such as dance, choreography, clapping, etc.) (the “Video”).
                    li
                      p.terms-text
                        | Use of the Video by the users:
                        br
                        | The permitted use of the Video depends on the user’s type, as set forth here below:
                      ol
                        li
                          p.terms-text
                            | Individuals are allowed to use the Video for the Purpose in any form or manner whatsoever (including, but not limited to, posting the Video on social media and video posting websites) in strict observance of these Terms of Use.
                        li
                          p.terms-text
                            | Companies and organizations are authorized to use the Video for the Purpose but only internally within such companies and organizations. They are not allowed to use the Video externally in any way, including posting the Video on social media or video posting websites.
                        li
                          p.terms-text
                            | Notwithstanding Article 4(2)(ii) above, the Japanese Government, Tokyo Metropolitan Government, Japanese local governments, sports associations (International (Sports) Federations (“IF”) and National Federations (“NF”)), the International Olympic Committee (the “IOC”), the International Paralympic Committee (the “IPC”), National Olympic Committees (“NOC”), National Paralympic Committees (“NPC”), partner companies of the Games (TOP sponsors and domestic sponsors of the Games) and other third parties designated by the Committee are allowed to use the Video which they created in the exact same way than the individuals (as set forth in Article 4(2)(i) above).
                    li
                      p.terms-text
                        | Notwithstanding Articles 4(1) and 4(2) above, the users (irrelevant of the user’s type) acknowledge and agree not to engage in any form of Ambush Marketing (as defined in Article 6 below), in particular in his/her/its performance and/or Video.
                //-
                //-
                //-
                li.terms-list_item
                  h2.terms-title
                    | 5. Ownership and Intellectual Property Rights
                  ol.terms-ol
                    li
                      p.terms-text
                        | Copyrights (including the rights of Article 27 and Article 28 of the Copyright Act), neighboring rights (rights of performers and rights of phonogram producers), ownership (all property rights) and all other intellectual property rights (such as patent rights, rights on designs and models, the rights relating to all distinctive signs such as trademark rights) as well as other related rights (such as the rights to know-how, production secrets and trade secrets) (collectively the “IP and Ownership Rights”) in and to the 2020beat shall always belong and remain to the Committee.
                    li
                      p.terms-text
                        | For the purpose of these Terms of Use, the sound source of the 2020beat as arranged by a user shall be referred to as the “Arranged Work”. In the event a user and/or any third party holds any IP and Ownership Rights in and to the Arranged Work, the concerned user shall grant, and cause any third party holding any kind of right on the Arranged Work to grant, a non-exclusive, worldwide, irrevocable, assignable, royalty-free license to the Tokyo 2020-Related Organizations (as defined in Article 5(6) below) to use the Arranged Work in any form or manner whatsoever for the Purpose, without restriction of time. 
                    li
                      p.terms-text
                        | Without prejudice to Article 5(1), IP and Ownership Rights in and to the Video shall belong to the user. Each user shall grant (and, if applicable, cause any third party holding any kind of right in and to the Video to grant) a non-exclusive, worldwide, irrevocable, assignable, royalty-free license to the Tokyo 2020-Related Organizations to use the Video in any form or manner whatsoever for the Purpose. Such license shall not be limited in time. For the avoidance of doubt, the license(s) granted under this Article 5(3) shall cover the right to use the image (including portrait, likeness, voice, name, etc.) of any physical person appearing in a Video (as contained in the said Video), for the Purpose.
                    li
                      p.terms-text
                        | In addition to the licenses granted according to Articles 5(2) and 5(3) above, any user holding copyright on an Arranged Work or a Video shall agree (and, if applicable, shall cause any third party holding copyright on an Arranged Work or a Video to agree) not to assert his/her/its/their moral rights and/or performer’s moral rights in relation to the use of said Arranged Work and/or Video by the Tokyo 2020-Related Organizations and in particular acknowledge and agree (and, if applicable, shall cause any third party to acknowledge and agree) that the Arranged Work and/or Video may be modified, altered, transformed, adapted, destroyed or otherwise, in whole or in part, either by the Tokyo 2020-Related Organizations or by third parties authorised by the Committee or the IOC, without such uses being deemed or considered an infringement of any moral and/or economic rights.
                    li
                      p.terms-text
                        | Any user holding any IP and Ownership Rights in and to an Arranged Work and or a Video shall agree, and shall cause any third party holding any kind of right on the Arranged Work or a Video to agree, to use such Arranged Work or Video exclusively for the Purpose, according to these Terms of Use.
                    li
                      p.terms-text
                        | For the purpose of these Terms of Use, the Committee, the IOC, the IPC and their affiliated companies and/or related organizations as well as their licensees shall be collectively referred to as “Tokyo 2020-Related Organizations”.
                //-
                //-
                //-
                li.terms-list_item
                  h2.terms-title
                    | 6. No Ambush Marketing
                  ol.terms-ol
                    li
                      p.terms-text
                        | For the purpose of these Terms of Use, “Ambush Marketing” shall be understood as any and all attempts (whether intentional or unintentional) to create a false or unauthorised association (whether direct or indirect) with Tokyo 2020-Related Organizations, the Games and/or the Olympic / Paralympic movement.
                    li
                      p.terms-text
                        | Unless the Committee and the IOC have given their prior approval separately in writing, any kind of Ambush Marketing, in any manner or from whatsoever, by the users or any third party (in particular in using the 2020beat, the Arranged Work and/or the Video) is expressly prohibited. In particular, a user shall not represent that he/she/it or his/her/its product or service or a product or service of a third party has been provided, selected, approved, guaranteed, recommended or acknowledged by any of the Tokyo 2020-Related Organizations.
                    li
                      p.terms-text
                        | The users (and third parties) are not granted any marketing rights under these Terms of Use or any right of association in any way with the Tokyo 2020-Related Organizations, the Games or the Olympic / Paralympic movement. The users shall not, without the prior written consent of the Committee and the IOC (or the IPC, as applicable), use or authorise the use of any of the Olympic / Paralympic symbol, emblem(s) such as Games emblems, trademark(s), theme(s), logo(s), mascot(s) or other designation(s), or conduct any communication that may suggest, directly or indirectly, that the users (or any third party) has been granted any right of association with and/or maintains any particular relation with the Tokyo 2020-Related Organizations, the Games and/or the Olympic / Paralympic movement.
                    li
                      p.terms-text
                        | The obligations arising from this Article 6 shall not be limited in time (no termination or expiration).
                //-
                //-
                //-
                li.terms-list_item
                  h2.terms-title
                    | 7. Representations and Warranties
                  ol.terms-ol
                    li
                      p.terms-text
                        | Each user represents and warrants that:
                      ol
                        li
                          p.terms-text
                            | the production and use of the Video and/or the Arranged Work according to these Terms of Use (including use by the Tokyo 2020-Related Organizations for the Purpose) do not and will not infringe any third-party rights (including, but not limited to, copyrights, neighboring rights, portrait rights, and publicity rights);
                        li
                          p.terms-text
                            | he/she/it will respect all applicable laws and regulations;
                        li
                          p.terms-text
                            | he/she/it is not an organized crime group, an organized crime group member, an associate member of an organized crime group, a former organized crime group member (excluding any member whose breakaway from an organized crime group was assisted by the police), a corporate extortionist, or a socially-branded racketeering organization, etc.; and
                        li
                          p.terms-text
                            | he/she/it will respect the Olympic values and, in particular, will not engage in any language and behavior that will impair the dignity, trust and image cultivated by the Committee and/or any other Tokyo 2020-Related Organizations.
                    li
                      p.terms-text
                        | If the Committee and/or any other Tokyo 2020-Related Organizations suffers any damage due to the user breaching the preceding items and/or any other obligations of the user according to these Terms of Use, the user shall compensate such damage suffered by the Committee and/or the concerned Tokyo 2020-Related Organizations.
                //-
                //-
                //-
                li.terms-list_item
                  h2.terms-title
                    | 8. Liability
                  ol.terms-ol
                    li
                      p.terms-text
                        | The user shall compensate any and all damages suffered by the Tokyo 2020-Related Organizations as a result of the user breaching these Terms of Use (including the user’s representations and warranties). In particular, each user undertakes to indemnify and hold harmless the Tokyo 2020-Related Organizations (including their directors, employees, agents, affiliates and representatives) from any and all claim by, or liability to, any third party for loss, damage or injury to persons or property caused by any act or omission (whether wilful or negligent) of the user (including, if applicable, its directors, employees, agents, affiliates, representatives and subcontractors) in using the Video and/or the Arranged Work or otherwise in connection with these Terms of Use (including, but not limited to, legal fees, costs and other expenses).
                    li
                      p.terms-text
                        | Unless there is willful misconduct or gross negligence from the Tokyo 2020-Related Organizations, the Tokyo 2020-Related Organizations shall not be liable to any user (including, if applicable, its directors, employees, agents, affiliates, representatives and subcontractors) in any way for any loss or damage (including any disadvantage including mental or proprietary damage) sustained or suffered by the user in using the 2020beat or otherwise in the context of these Terms of Use.
                //-
                //-
                //-
                li.terms-list_item
                  h2.terms-title
                    | 9. Handling of Personal Information
                  p.terms-text
                    | Personal information collected in the framework of the Make The Beat! will be processed by the Committee in accordance with this Article 9 and the “Personal Information Protection Policy” (
                    a(href="https://tokyo2020.org/en/privacy-policy/") https://tokyo2020.org/en/privacy-policy/
                    | ) separately prescribed by the Committee, in that order of precedence.
                    br
                    | The personal information is used by the Committee in order to manage the use of the 2020beat, in particular in the case of a company or an organization requesting to use the 2020beat.
                    br
                    | Personal information collected in relation to Make The Beat! will be processed in Japan and personal information contained in the Video may be shared with the Tokyo 2020-Related Organizations. The Committee will retain the personal information until the end of the Games or as required to meet its legal requirements. The users can contact the Committee to exercise their rights, or for any requests or questions regarding privacy through the link provided on the Tokyo 2020 website(
                    a(href="http://tokyo2020.org/en/") http://tokyo2020.org/en/
                    | ).
                //-
                //-
                //-
                li.terms-list_item
                  h2.terms-title
                    | 10.	Suspension of Use of the 2020beat and Video
                  p.terms-text
                    | If the user’s use of the 2020beat, the Arranged Work and/or the Video or any other act of a user is in breach of these Terms of Use, the Committee may, without prejudice to any other right or remedy, request the user to remedy to such breach (including the deletion of the Video and any public access), and the user shall promptly comply with such request.
                //-
                //-
                //-
                li.terms-list_item
                  h2.terms-title
                    | 11.	No Transfer
                  p.terms-text
                    | Without obtaining the prior written approval of the Committee, a user shall not transfer, lease, offer as security or entrust the right of use of the 2020beat or any other rights or obligations under these Terms of Use.
                //-
                //-
                //-
                li.terms-list_item
                  h2.terms-title
                    | 12.	Amendment
                  p.terms-text
                    | The Committee may amend these Terms of Use from time to time at its own discretion. In the event an amendment have material effect on the user’s rights (such as new restrictions imposed to the users for the use of the 2020beat), the Committee shall notify the details of such amendment to the user according to the method prescribed by the Committee.
                //-
                //-
                //-
                li.terms-list_item
                  h2.terms-title
                    | 13. Governing Law and Jurisdiction
                  ol.terms-ol
                    li
                      p.terms-text
                        | These Terms of Use shall be governed by and interpreted in accordance with the laws of Japan, without reference to their conflict of laws rules. Any dispute arising from or in connection with these Terms of Use which cannot be settled amicably shall be submitted to the exclusive jurisdiction of the Tokyo District Court.
                    li
                      p.terms-text
                        | Notwithstanding Article 13(1) above, for the purpose of enforcement of this Terms of Use as between the IOC, the IPC and/or their respective affiliates (on the one hand) and the users or the Committee (on the other hand) or whenever the IOC, the IPC or their affiliates is/are party/ies to a dispute or claim arising out of, or relating to, this Terms of Use, then such matter, dispute or claim, shall only and exclusively be submitted to the exclusive jurisdiction of the competent ordinary courts in Lausanne (Switzerland) and resolved in accordance with the laws of Switzerland (excluding its conflict of laws rules).
              p.terms-end
                |  
              a#terms-modal_close.btn
                | I agree to the 2020beat Terms of Use
                span (Click to close the page)
          include footer.pug
    .pageTopFloat TOP
    include ../partials/common_script.pug
    script(type="text/javascript").
      $(function(){
        //ページTOPへ戻る（テンプレートに存在するボタンは消す）
        $('#pageTopBox').hide();
        $('.pageTopFloat').on('click',function(){
          $( 'html,body', parent.document ).animate( { scrollTop: 0 }, 500 );
        });
        $(window).bind("scroll", function() {
          scrollHeight = $(document).height();
          scrollPosition = $(window).height() + $(window).scrollTop();
          if ( (scrollHeight - scrollPosition) / scrollHeight <= 0.02) {
            $('.pageTopFloat').css('bottom','150px');
          } else {
            $('.pageTopFloat').css('bottom','0px');
          }
        });
        $('#terms-modal_close').on('click', function() {
          if (/Chrome/i.test(navigator.userAgent)){
            window.open('/en/index.html', '_self').close();
          } 
          else { 
            window.close();
          }
        });
      });
    //- script(src="https://code.jquery.com/jquery-1.12.4.js")
    //- script(type="text/javascript" src= js + "lightcase.min.js"+timestamp charset="utf-8")
    //- script(type="text/javascript").
    //-   $(function(){
    //-     $('#terms-modal_close').on('click', function() {
    //-       window.parent.lightcase.close();
    //-     });
    //-   });
