@charset "UTF-8";
.article-body {
  position: relative;
  /* 見出し */
  /**
   * リンク
   */
  /**
   * 画像
   */
  /**
   * テンプレート
   */
  /*
  .textListDl {
  }
  .textListDl dl {
    line-height: 1.8;
  }
  .textListDl dd {
  }
  // リスト２
  .listIndent {
    padding-left: 0px;
  }
  .listIndent li {
    margin-bottom: 0px;
    padding-left: 1em;
    list-style: none;
    text-indent: -1em;
  }
  */
}
.article-body:after {
  display: block;
  visibility: hidden;
  clear: both;
  content: "";
}
.article-body p {
  font-size: 1.4rem;
}
.article-body p:last-child {
  margin-bottom: 0px;
}
.article-body pre {
  font-size: 1.4rem;
  line-height: 1.8;
}
.article-body h1, .article-body h2, .article-body h3, .article-body h4, .article-body h5, .article-body h6 {
  margin-bottom: 1.5em;
}
.article-body h2.titleBox2x, .article-body h2.titleBox3x,
.article-body h3.titleBox2x, .article-body h3.titleBox3x {
  margin-bottom: 20px;
}
.article-body > h1 + h2, .article-body > h2 + h3, .article-body > h3 + h4, .article-body > h4 + h5, .article-body > h5 + h6 {
  margin-top: 0px;
}
.article-body > h1:first-child, .article-body > h2:first-child, .article-body > h3:first-child, .article-body > h4:first-child, .article-body > h5:first-child, .article-body > h6:first-child {
  margin-top: 0px;
}
.article-body > h1 {
  border-bottom: 2px solid #cccccc;
  font-size: 2.5rem;
  font-weight: bold;
}
.article-body > h2 {
  position: relative;
  padding-left: 23px;
  font-size: 2rem;
  font-weight: bold;
}
.article-body > h2:before {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 100%;
  background-color: #cc0000;
  content: "";
}
.article-body > h3 {
  position: relative;
  padding-left: 23px;
  font-size: 1.7rem;
  font-weight: bold;
}
.article-body > h3:before {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 100%;
  background-color: #555555;
  content: "";
}
.article-body > h4 {
  font-size: 1.5rem;
  font-weight: bold;
}
.article-body > h5 {
  margin-bottom: 0.5em;
  font-size: 1.4rem;
  font-weight: bold;
}
.article-body > h6 {
  margin-bottom: 0px;
  font-size: 1.4rem;
  font-weight: bold;
}
.article-body > h6 {
  margin-top: 2em;
}
@media screen and (max-width: 767px) {
  .article-body {
    font-size: 1.4rem;
    line-height: 1.8em;
  }
  .article-body:last-child {
    margin-bottom: 40px;
  }
  .article-body > h1 {
    font-size: 1.6rem;
  }
  .article-body > h2 {
    padding-left: 15px;
    font-size: 1.5rem;
  }
  .article-body > h2:after {
    width: 4px;
  }
  .article-body > h3 {
    padding-left: 15px;
    font-size: 1.4rem;
  }
  .article-body > h3:after {
    width: 4px;
  }
  .article-body > h4 {
    font-size: 1.4rem;
  }
}
.article-body a {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.article-body strong {
  font-weight: bold;
}
.article-body img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
.article-body img.v-middle {
  vertical-align: middle;
}
@media screen and (max-width: 767px) {
  .article-body {
    /* 画像 SP */
  }
  .article-body img.mt-image-left,
  .article-body img.mt-image-right {
    float: none !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}
.article-body .boxPhoto {
  margin-bottom: 0px;
}
.article-body .boxPhotoCaption {
  padding: 20px 0px 0px;
}
.article-body .gHalf-outer {
  overflow: hidden;
}
.article-body .gHalf-outer .gHalf {
  display: block;
  float: left;
  margin-bottom: 0px;
  width: 50%;
}
@media screen and (max-width: 767px) {
  .article-body .gHalf-outer .gHalf {
    float: none;
    width: 100%;
    margin-top: 20px;
  }
  .article-body .gHalf-outer .gHalf:first-child {
    margin-top: 0px;
  }
  .article-body a.iconListQuaternary.normal {
    padding-left: 1em;
    text-indent: -1em;
    background: none;
  }
  .article-body a.iconListQuaternary.normal:before {
    content: '';
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(/assets/m/sprites/sprite.png);
    background-position: -180px -117px;
    width: 5.5px;
    height: 8px;
    -webkit-background-size: 240px 235px;
    background-size: 240px 235px;
    margin-right: 5px;
  }
}
.article-body a.iconListQuaternary {
  display: inline-block;
  padding-left: 21px;
  background: url(/assets/img/common/icon-chevron-right01.png) 5px 5px no-repeat transparent;
  font-weight: bold;
  line-height: 22px;
}
.article-body a.iconListQuaternary:hover {
  background-image: url(/assets/img/common/icon-chevron-right02.png);
}
.article-body a.iconListQuaternary .icon-blank {
  display: inline-block;
  margin-left: 10px;
  width: 10px;
  height: 10px;
  background: url(/assets/img/common/icon-blank.png) 0px 0px no-repeat;
}
.article-body .download-links {
  padding-left: 0px;
}
.article-body .download-links li {
  list-style: none inside;
}
.article-body .download-links li a {
  display: inline-block;
  padding: 2px 0px 2px 30px;
  background: url(/assets/img/common/ic04.png) 0px 5px no-repeat;
  font-weight: bold;
  line-height: 22px;
}
.article-body .download-links li a:hover {
  background-image: url(/assets/img/common/ic04_over.png);
  color: #cc0000;
}
.article-body .anchor-links {
  padding-left: 0px;
}
.article-body .anchor-links li {
  float: left;
  margin-left: 20px;
  list-style: none;
}
.article-body .anchor-links li:first-child {
  margin-left: 0px;
}
.article-body .anchor-links li a {
  display: inline-block;
  padding-left: 21px;
  background: url(/assets/img/common/icon-chevron-down03.png) 5px 7px no-repeat;
  font-weight: bold;
  line-height: 22px;
}
.article-body .alertBox {
  padding-left: 1em;
  text-indent: -1em;
}
.article-body ul.outline {
  padding-left: 0px;
}
.article-body ul.outline li {
  overflow: hidden;
  list-style: none;
}
.article-body ul.outline li .th {
  position: relative;
  float: left;
  width: 70px;
}
.article-body ul.outline li .th:after {
  position: absolute;
  top: 0px;
  right: -10px;
  content: ":";
}
.article-body ul.outline li .td {
  display: block;
  float: none;
  padding-left: 100px;
  width: auto;
}
.article-body .rich-text-wrapper {
  /**
   * テーブル
   */
  /*
  ul {
    padding-left: 1.5em;
    font-size: 1.4rem;
  }
  ul > li {
    list-style: disc outside;
    line-height: 1.8;
  }
  */
}
.article-body .rich-text-wrapper p {
  min-height: 1em;
  line-height: 24px;
}
.article-body .rich-text-wrapper del {
  color: #000;
}
.article-body .rich-text-wrapper .pageHeaderSubtitle,
.article-body .rich-text-wrapper .pageHeaderSubtitleTertiary {
  margin-bottom: 20px;
}
.article-body .rich-text-wrapper table th, .article-body .rich-text-wrapper table td {
  border: 1px solid #cccccc;
  padding: 13px;
  font-size: 1.4rem;
}
.article-body .rich-text-wrapper table th {
  background-color: #ebebeb;
}
.article-body .rich-text-wrapper table th.centered, .article-body .rich-text-wrapper table td.centered {
  text-align: center;
}
.article-body .rich-text-wrapper .boxPhotoCaption {
  padding-top: 0px;
}
.article-body .rich-text-wrapper .boxFeatured .w260.fright img + img {
  margin-top: 10px;
}
.article-body .rich-text-wrapper a.fright {
  float: right;
}
.article-body .rich-text-wrapper .iconListSeptenary {
  display: inline-block;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.4em;
  padding: 0px 0px 0px 30px;
  font-weight: 600;
  background: url(/assets/img/common/ic04.png) 0px 5px no-repeat;
}
.article-body .rich-text-wrapper .tableList {
  margin-bottom: 0px;
}
.article-body .rich-text-wrapper .tableList.tableListType2 td:nth-child(1) {
  background-color: #dddddd;
}
.article-body .rich-text-wrapper ul.list_num li {
  list-style: decimal;
}
.article-body .rich-text-wrapper ul.indent-1 {
  padding-left: 1em;
  text-indent: -1em;
}
.article-body .rich-text-wrapper ul.indent-1 li {
  list-style: none;
}
.article-body .rich-text-wrapper ul.list_dot {
  padding: 0px;
}
.article-body .rich-text-wrapper ul.list_dot li {
  list-style: none;
  line-height: inherit;
}
.article-body .rich-text-wrapper .align-right-links {
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .article-body .rich-text-wrapper .gridBox .gHalf {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 767px) {
  .article-body .rich-text-wrapper .pageHeaderSubtitle,
  .article-body .rich-text-wrapper .pageHeaderSubtitleTertiary {
    font-weight: bold;
    position: relative;
    padding-left: 15px;
    margin-bottom: 20px;
    overflow: hidden;
  }
  .article-body .rich-text-wrapper .pageHeaderSubtitle:before,
  .article-body .rich-text-wrapper .pageHeaderSubtitleTertiary:before {
    content: '';
    display: inline-block;
    background-color: #555555;
    width: 4px;
    position: absolute;
    left: 0;
    padding-bottom: 100px;
    margin-bottom: -100px;
  }
  .article-body .rich-text-wrapper .pageHeaderSubtitle {
    font-size: 1.5rem;
  }
  .article-body .rich-text-wrapper .pageHeaderSubtitle:before {
    background-color: #555555;
    height: 16px;
    top: 0px;
  }
  .article-body .rich-text-wrapper .pageHeaderSubtitleTertiary {
    font-size: 1.4rem;
  }
  .article-body .rich-text-wrapper .pageHeaderSubtitleTertiary:before {
    background-color: #d90000;
    height: 17px;
    top: 2px;
  }
  .article-body .rich-text-wrapper .boxFeatured .w505.fleft {
    margin-bottom: 20px;
  }
  .article-body .rich-text-wrapper .boxFeatured .w260.fright {
    text-align: center;
  }
  .article-body .rich-text-wrapper .boxFeatured .w260.fright img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  .article-body .rich-text-wrapper .gridBox .gHalf {
    margin-bottom: 20px;
  }
  .article-body .rich-text-wrapper .gridBox .gHalf > img {
    width: 100%;
    height: auto;
  }
  .article-body .rich-text-wrapper img.mt-image-none {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}
html.responsive .contents_wrapper.compornent .article-body .rich-text-wrapper a.fright {
  margin-bottom: 0px;
}
/* 画像保護 */
.image-protect img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -webkit-touch-callout: none;
  -pointer-events: none;
}
@media print {
  .image-protect img {
    opacity: 0 !important;
    visibility: hidden !important;
  }
}
