@charset "UTF-8";
@media screen and (max-width: 767px) {
  html.responsive {
    /* bottom */
    /* left */
    /* right */
    /*
    SCSS variables are information about icon's compiled state, stored under its original file name
    .icon-home {
      width: $icon-home-width;
    }
    The large array-like variables contain all information about a single icon
    $icon-home: x y offset_x offset_y width height total_width total_height image_path;
    At the bottom of this section, we provide information about the spritesheet itself
    $spritesheet: width height image $spritesheet-sprites;
    */
    /*
    The provided mixins are intended to be used with the array-like variables
    .icon-home {
      @include sprite-width($icon-home);
    }
    .icon-email {
      @include sprite($icon-email);
    }
    */
    /*
    The `sprites` mixin generates identical output to the CSS template
      but can be overridden inside of SCSS
    @include sprites($spritesheet-sprites);
    */
    /* ====================================================
    layout style
    ==================================================== */
    /* header
    -------------------------- */
    /* footer
    -------------------------- */
    /* ====================================================
    component style
    ==================================================== */
    /*device-change-style / to-common*/
    /*device-change-style / to-common*/
    /*list*/
    /*/list*/
    /*注釈*/
    /*会場詳細*/
  }
  html.responsive .sp-mt00 {
    margin-top: 0 !important;
  }
  html.responsive .sp-mt05 {
    margin-top: 5px !important;
  }
  html.responsive .sp-mt10 {
    margin-top: 10px !important;
  }
  html.responsive .sp-mt15 {
    margin-top: 15px !important;
  }
  html.responsive .sp-mt20 {
    margin-top: 20px !important;
  }
  html.responsive .sp-mt25 {
    margin-top: 25px !important;
  }
  html.responsive .sp-mt30 {
    margin-top: 30px !important;
  }
  html.responsive .sp-mt35 {
    margin-top: 35px !important;
  }
  html.responsive .sp-mt40 {
    margin-top: 40px !important;
  }
  html.responsive .sp-mt45 {
    margin-top: 45px !important;
  }
  html.responsive .sp-mt50 {
    margin-top: 50px !important;
  }
  html.responsive .sp-mb00, html.responsive .sp-mb0 {
    margin-bottom: 0 !important;
  }
  html.responsive .sp-mb05, html.responsive .sp-mb5 {
    margin-bottom: 5px !important;
  }
  html.responsive .sp-mb10 {
    margin-bottom: 10px !important;
  }
  html.responsive .sp-mb15 {
    margin-bottom: 15px !important;
  }
  html.responsive .sp-mb20 {
    margin-bottom: 20px !important;
  }
  html.responsive .sp-mb25 {
    margin-bottom: 25px !important;
  }
  html.responsive .sp-mb30 {
    margin-bottom: 30px !important;
  }
  html.responsive .sp-mb35 {
    margin-bottom: 35px !important;
  }
  html.responsive .sp-mb40 {
    margin-bottom: 40px !important;
  }
  html.responsive .sp-mb45 {
    margin-bottom: 45px !important;
  }
  html.responsive .sp-mb50 {
    margin-bottom: 50px !important;
  }
  html.responsive .sp-mb60 {
    margin-bottom: 50px !important;
  }
  html.responsive .sp-ml0 {
    margin-left: 0px !important;
  }
  html.responsive .sp-ml10 {
    margin-left: 10px !important;
  }
  html.responsive .sp-ml20 {
    margin-left: 20px !important;
  }
  html.responsive .sp-ml30 {
    margin-left: 30px !important;
  }
  html.responsive .sp-mr10 {
    margin-right: 10px !important;
  }
  html.responsive .sp-mr10 {
    margin-right: 10px !important;
  }
  html.responsive .sp-mr20 {
    margin-right: 20px !important;
  }
  html.responsive .sp-mr30 {
    margin-right: 30px !important;
  }
  html.responsive .pc-element {
    display: none !important;
  }
  html.responsive #sidebar nav.navdrawer-container {
    display: none;
  }
  html.responsive #sidebar > div.boxSearch {
    display: none;
    margin-top: 40px;
  }
  html.responsive .contents_wrapper.compornent .row:after {
    content: "";
    clear: both;
    display: block;
  }
  html.responsive .contents_wrapper.compornent .row .pull_left {
    float: left;
  }
  html.responsive .contents_wrapper.compornent .row .pull_right {
    float: right;
  }
  html.responsive .contents_wrapper.compornent hr {
    border-top: 1px solid #cccccc;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  html.responsive .contents_wrapper.compornent .box {
    margin-bottom: 40px;
    padding: 10px;
    font-size: 1.4rem;
  }
  html.responsive .contents_wrapper.compornent .box.border_gray {
    border: 1px solid #cccccc;
  }
  html.responsive .contents_wrapper.compornent .align-right {
    text-align: right;
  }
  html.responsive .contents_wrapper.compornent .align-left {
    text-align: left;
  }
  html.responsive .contents_wrapper.compornent .align-center {
    text-align: center;
  }
  html.responsive .contents_wrapper.compornent .pd_view {
    padding-left: 20px;
    padding-right: 20px;
  }
  html.responsive .contents_wrapper.compornent .txt-red {
    color: #d90000;
  }
  html.responsive .contents_wrapper.compornent .bold {
    font-weight: bold !important;
  }
  html.responsive .contents_wrapper.compornent .normal {
    font-weight: normal !important;
  }
  html.responsive .contents_wrapper.compornent .textBase {
    font-size: 1.4rem;
    line-height: 1.8em;
    margin-bottom: 20px;
  }
  html.responsive .contents_wrapper.compornent .textBase:last-child {
    margin-bottom: 40px;
  }
  html.responsive .contents_wrapper.compornent .sp-element:last-child .textBase:last-child {
    margin-bottom: 20px;
  }
  html.responsive .contents_wrapper.compornent .sp-element .textBase:last-child {
    margin-bottom: 20px;
  }
  html.responsive .contents_wrapper.compornent .textBase.small {
    font-size: 1.2rem;
  }
  html.responsive .contents_wrapper.compornent .textBase ul {
    margin-bottom: 20px;
  }
  html.responsive .contents_wrapper.compornent .textBase.border {
    border: 2px solid #333333;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
  }
  html.responsive .contents_wrapper.compornent .snsBox {
    margin-bottom: 20px;
    float: right;
  }
  html.responsive .contents_wrapper.compornent .snsBox li {
    float: left;
    margin-left: 15px;
  }
  html.responsive .contents_wrapper.compornent .snsBox li:first-child {
    margin-left: 0;
  }
  html.responsive .contents_wrapper.compornent .snsBox .snsFacebook {
    overflow: hidden;
  }
  html.responsive .contents_wrapper.compornent ol.c_number_list {
    text-indent: 1em;
    font-size: 1.4rem;
    line-height: 1.8em;
    margin-bottom: 40px;
  }
  html.responsive .contents_wrapper.compornent ol.c_number_list li {
    text-indent: -1em;
    padding-left: 1em;
  }
  html.responsive .contents_wrapper.compornent ol.number_list {
    text-indent: 1em;
    font-size: 1.4rem;
    line-height: 1.8em;
    margin-bottom: 40px;
    list-style-type: decimal;
    list-style-position: inside;
  }
  html.responsive .contents_wrapper.compornent ol.number_list li {
    text-indent: -1em;
    padding-left: 1em;
    margin-top: 20px;
  }
  html.responsive .contents_wrapper.compornent ol.number_list li:first-child {
    margin-top: 0;
  }
  html.responsive .contents_wrapper.compornent ol.disc_list {
    text-indent: 1em;
    font-size: 1.4rem;
    line-height: 1.8em;
    margin-bottom: 40px;
    list-style-type: disc;
    list-style-position: inside;
  }
  html.responsive .contents_wrapper.compornent ol.disc_list li {
    text-indent: -1em;
    padding-left: 1em;
  }
  html.responsive .contents_wrapper.compornent ol.disc_list li:first-child {
    margin-top: 0;
  }
  html.responsive body#en .contents_wrapper.compornent .pointed_list li {
    margin-bottom: 20px;
    font-size: 1.4rem;
    line-height: 1.8em;
    text-indent: -1em;
    padding-left: 1em;
  }
  html.responsive body#en .contents_wrapper.compornent .pointed_list li:before {
    content: ' - ';
  }
  html.responsive body#en .contents_wrapper.compornent .pointed_list li:first-child {
    margin-top: 25px;
  }
  html.responsive body#fr .contents_wrapper.compornent .pointed_list li {
    margin-bottom: 20px;
    font-size: 1.4rem;
    line-height: 1.8em;
    text-indent: -1em;
    padding-left: 1em;
  }
  html.responsive body#fr .contents_wrapper.compornent .pointed_list li:before {
    content: ' - ';
  }
  html.responsive body#fr .contents_wrapper.compornent .pointed_list li:first-child {
    margin-top: 25px;
  }
  html.responsive .contents_wrapper.compornent .pointed_list li {
    margin-bottom: 20px;
    font-size: 1.4rem;
    line-height: 1.8em;
    text-indent: -1em;
    padding-left: 1em;
  }
  html.responsive .contents_wrapper.compornent .pointed_list li:before {
    content: '・';
  }
  html.responsive .contents_wrapper.compornent .pointed_list li:first-child {
    margin-top: 25px;
  }
  html.responsive .contents_wrapper.compornent .pointed_list.nm li {
    margin-top: 0;
  }
  html.responsive .contents_wrapper.compornent .accordion .btn_toggle {
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #eeeeee;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #b2b2b2;
    padding-left: 12.5px;
    margin-top: 20px;
    position: relative;
  }
  html.responsive .contents_wrapper.compornent .accordion .btn_toggle a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  html.responsive .contents_wrapper.compornent .accordion .btn_toggle:after {
    content: '';
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(/assets/m/sprites/sprite.png);
    background-position: -170px -130px;
    width: 17px;
    height: 10.5px;
    -webkit-background-size: 240px 235px;
    background-size: 240px 235px;
    position: absolute;
    right: 12.5px;
    top: 50%;
    margin-top: -4px;
  }
  html.responsive .contents_wrapper.compornent .accordion .btn_toggle.active:after {
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(/assets/m/sprites/sprite.png);
    background-position: -117px -195px;
    width: 17px;
    height: 10.5px;
    -webkit-background-size: 240px 235px;
    background-size: 240px 235px;
    position: absolute;
  }
  html.responsive .contents_wrapper.compornent .accordion .view {
    overflow: hidden;
  }
  html.responsive .contents_wrapper.compornent .accordion .view .accordion_inner {
    padding-top: 20px;
  }
  html.responsive .contents_wrapper.compornent a.blank {
    font-size: 1.4rem;
    position: relative;
    padding-right: 15px;
    font-weight: bold;
    display: block;
    position: relative;
    padding-left: 1em;
    text-indent: -1em;
    display: inline-block;
  }
  html.responsive .contents_wrapper.compornent a.blank:before {
    content: '';
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(/assets/m/sprites/sprite.png);
    background-position: -180px -117px;
    width: 5.5px;
    height: 8px;
    -webkit-background-size: 240px 235px;
    background-size: 240px 235px;
    margin-right: 5px;
  }
  html.responsive .contents_wrapper.compornent a.blank img {
    display: inline-block;
    margin-left: 5px;
    margin-top: -6px;
    width: 8.5px;
    vertical-align: baseline;
  }
  html.responsive .contents_wrapper.compornent a.related img {
    display: inline-block;
    margin-left: 5px;
    margin-top: -6px;
    width: 10px;
  }
  html.responsive .contents_wrapper.compornent a.border {
    border: 1px solid #cccccc;
    text-decoration: none;
    font-size: 1.4rem;
    display: block;
    margin-top: 20px;
    height: 40px;
    line-height: 40px;
    padding-left: 1.5em;
    cursor: pointer;
  }
  html.responsive .contents_wrapper.compornent .btn_arrow {
    display: block;
    position: relative;
    padding-left: 1em;
    text-indent: -1em;
    display: inline-block;
    display: block;
  }
  html.responsive .contents_wrapper.compornent .btn_arrow:before {
    content: '';
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(/assets/m/sprites/sprite.png);
    background-position: -180px -117px;
    width: 5.5px;
    height: 8px;
    -webkit-background-size: 240px 235px;
    background-size: 240px 235px;
    margin-right: 5px;
  }
  html.responsive .contents_wrapper.compornent .btn_arrow.active {
    color: #d90000;
  }
  html.responsive .contents_wrapper.compornent .btn_arrow.active:before {
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(/assets/m/sprites/sprite.png);
    background-position: -180px -104px;
    width: 5.5px;
    height: 8px;
    -webkit-background-size: 240px 235px;
    background-size: 240px 235px;
  }
  html.responsive .contents_wrapper.compornent .btn_arrow.ellipse {
    padding-left: 25px;
    height: 18px;
    line-height: 18px;
  }
  html.responsive .contents_wrapper.compornent .btn_arrow.ellipse:before {
    left: 0;
    top: 0;
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(/assets/m/sprites/sprite.png);
    background-position: -220px -150px;
    width: 18px;
    height: 18px;
    -webkit-background-size: 240px 235px;
    background-size: 240px 235px;
  }
  html.responsive .contents_wrapper.compornent .btn_anchor {
    display: block;
    position: relative;
    padding-left: 1em;
    text-indent: -1em;
    display: inline-block;
    display: block;
  }
  html.responsive .contents_wrapper.compornent .btn_anchor:before {
    content: '';
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(/assets/m/sprites/sprite.png);
    background-position: -130px -70px;
    width: 8px;
    height: 5px;
    -webkit-background-size: 240px 235px;
    background-size: 240px 235px;
    margin-right: 5px;
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  html.responsive .contents_wrapper.compornent .download {
    display: block;
    position: relative;
    padding-left: 25px;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  html.responsive .contents_wrapper.compornent span.download-wrapper {
    display: block;
  }
  html.responsive .contents_wrapper.compornent .download img {
    position: absolute;
    left: 0;
    top: 2px;
    zoom: 0.5;
	-moz-transform: scale(0.5,0.5) translate(-15px,-15px);
  }
  html.responsive .contents_wrapper.compornent .download:before {
    display: none;
  }
  html.responsive .contents_wrapper.compornent .fright {
    margin-bottom: 30px;
    text-align: right;
  }
  html.responsive .contents_wrapper.compornent .fright a {
    display: inline-block;
    font-weight: bold;
    font-size: 1.4rem;
  }
  html.responsive .contents_wrapper.compornent .fright a:before {
    display: inline-block !important;
    margin-top: -3px;
  }
  html.responsive .contents_wrapper.compornent .fright.separeted {
    border-top: 2px solid #cccccc;
    padding-top: 30px;
  }
  html.responsive .contents_wrapper.compornent img.fit {
    display: block;
    /*max-width: 100%;*/
    width: 100%;
    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  html.responsive .contents_wrapper.compornent .titleBox1x {
    font-size: 1.6rem;
    font-weight: bold;
    border-bottom: 2px solid #cccccc;
    padding-bottom: 10px;
    padding-top: 20px;
    margin-bottom: 20px;
  }
  html.responsive .contents_wrapper.compornent .titleBox2x {
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    padding-left: 15px;
    margin-bottom: 20px;
    overflow: hidden;
  }
  html.responsive .contents_wrapper.compornent .titleBox2x:before {
    content: '';
    display: inline-block;
    background-color: #d90000;
    width: 4px;
    height: 17px;
    position: absolute;
    left: 0;
    top: 2px;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
  }
  html.responsive .contents_wrapper.compornent .titleBox3x {
    font-size: 1.4rem;
    font-weight: bold;
    position: relative;
    padding-left: 15px;
    margin-bottom: 20px;
    overflow: hidden;
  }
  html.responsive .contents_wrapper.compornent .titleBox3x:before {
    content: '';
    display: inline-block;
    background-color: #555555;
    width: 4px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 0px;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
  }
  html.responsive .contents_wrapper.compornent .titleBox3x.simple {
    font-size: 1.4rem;
    margin-bottom: 15px;
    padding: 0;
    font-weight: normal;
  }
  html.responsive .contents_wrapper.compornent .titleBox3x.simple:before {
    display: none;
  }
  html.responsive .contents_wrapper.compornent .titleBox3x.simple.min {
    font-size: 1.4rem;
    margin-bottom: 15px;
  }
  html.responsive .contents_wrapper.compornent .listNews {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding-top: 25px;
    padding-bottom: 5px;
    margin-bottom: 40px;
  }
  html.responsive .contents_wrapper.compornent .listNews.no_border {
    border: none;
    padding: 0;
  }
  html.responsive .contents_wrapper.compornent .listNews li {
    margin-bottom: 20px;
  }
  html.responsive .contents_wrapper.compornent .listNews li .postText {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 6px;
    line-height: 1.6em;
  }
  html.responsive .contents_wrapper.compornent .listNews li .postText a {
    display: block;
    position: relative;
    padding-left: 1em;
    text-indent: -1em;
    text-decoration: underline;
    position: relative;
  }
  html.responsive .contents_wrapper.compornent .listNews li .postText a:before {
    content: '';
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(/assets/m/sprites/sprite.png);
    background-position: -180px -117px;
    width: 5.5px;
    height: 8px;
    -webkit-background-size: 240px 235px;
    background-size: 240px 235px;
    margin-right: 5px;
  }
  html.responsive .contents_wrapper.compornent .listNews li .postText a:before {
    margin-top: 0;
    top: 6px;
  }
  html.responsive .contents_wrapper.compornent .listNews li > a {
    display: block;
    position: relative;
    padding-left: 1em;
    text-indent: -1em;
    text-decoration: underline;
    position: relative;
  }
  html.responsive .contents_wrapper.compornent .listNews li > a:before {
    content: '';
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(/assets/m/sprites/sprite.png);
    background-position: -180px -117px;
    width: 5.5px;
    height: 8px;
    -webkit-background-size: 240px 235px;
    background-size: 240px 235px;
    margin-right: 5px;
  }
  html.responsive .contents_wrapper.compornent .postHeading {
    margin-bottom: 5px;
  }
  html.responsive .contents_wrapper.compornent .postHeading:after {
    content: "";
    clear: both;
    display: block;
  }
  html.responsive .contents_wrapper.compornent .postHeading .postDate {
    float: left;
    font-size: 1.4rem;
  }
  html.responsive .contents_wrapper.compornent .postHeading .postDate.align-right {
    float: none;
    text-align: right;
  }
  html.responsive .contents_wrapper.compornent .postHeading .postTitle {
    float: left;
    font-size: 1.4rem;
    margin-left: 10px;
  }
  html.responsive .contents_wrapper.compornent .postHeading .postCategory {
    float: left;
    font-size: 0.9rem;
    margin-left: 15px;
    padding: 3px 3px;
    text-align: center;
    width: 85px;
    line-height: 1em;
    border: 1px solid #d90000;
  }
  html.responsive .contents_wrapper.compornent .postHeading .postCategory.rio2016 {
    border-color: #39961b;
  }
  html.responsive .contents_wrapper.compornent .postHeading .postCategory span {
    position: relative;
    top: 1px;
  }
  html.responsive .contents_wrapper.compornent .postHeading .postCategory.notice {
    border-color: #d90000;
  }
  html.responsive .contents_wrapper.compornent .postHeading .postCategory.sponsor {
    border-color: #ff9900;
  }
  html.responsive .contents_wrapper.compornent .postHeading .postCategory.event {
    border-color: #0066cc;
  }
  html.responsive .contents_wrapper.compornent .postHeading .postCategory.bid {
    border-color: #9900cc;
  }
  html.responsive .contents_wrapper.compornent .postHeading .postCategory.release {
    border-color: #00ccff;
  }
  html.responsive .contents_wrapper.compornent .boxborder {
    border: 1px solid #ccc;
    padding: 20px;
  }
  html.responsive .contents_wrapper.compornent .boxPhoto {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  html.responsive .contents_wrapper.compornent .boxPhoto:after {
    content: "";
    clear: both;
    display: block;
  }
  html.responsive .contents_wrapper.compornent .boxPhoto figure {
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
  html.responsive .contents_wrapper.compornent .boxPhoto img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }
  html.responsive .contents_wrapper.compornent .boxPhoto img.fit {
    margin-bottom: 20px;
  }
  html.responsive .contents_wrapper.compornent .boxPhoto .boxPhotoCaption {
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.8em;
    margin-bottom: 20px;
  }
  html.responsive .contents_wrapper.compornent .boxPhoto .boxPhotoCredit {
    display: block;
    font-size: 1.4rem;
    margin-top: 4px;
    text-align: left;
  }
  html.responsive .contents_wrapper.compornent .venue-outline .boxPhoto .boxPhotoCredit {
    line-height: 1.4;
  }
  html.responsive .contents_wrapper.compornent .boxPhoto .gHalf {
    width: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    float: left;
  }
  html.responsive .contents_wrapper.compornent .boxPhoto .gHalf:nth-child(even) {
    padding-left: 5px;
  }
  html.responsive .contents_wrapper.compornent .boxPhoto .gHalf:nth-child(odd) {
    padding-right: 5px;
  }
  html.responsive .contents_wrapper.compornent .boxPhoto .gHalf:nth-child(n+3) {
    margin-top: 20px;
  }
  html.responsive .contents_wrapper.compornent .flexBox {
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-wrap: wrap;
  }
  html.responsive .contents_wrapper.compornent .gQuarter {
    width: calc(50% - 10px);
    margin: 5px;
  }
  html.responsive .contents_wrapper.compornent .imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  html.responsive .contents_wrapper.compornent .boxPhoto.pull-left {
    text-align: left;
    display: block;
  }
  html.responsive .contents_wrapper.compornent .boxPhoto.pull-left:after {
    content: "";
    clear: both;
    display: block;
  }
  html.responsive .contents_wrapper.compornent .boxPhoto.pull-left img {
    max-width: 105px;
    float: left;
    margin-right: 10px;
  }
  html.responsive .contents_wrapper.compornent .boxPhoto.pull-right {
    -moz-text-align-last: auto;
    text-align-last: auto;
    display: block;
  }
  html.responsive .contents_wrapper.compornent .boxPhoto.pull-right:after {
    content: "";
    clear: both;
    display: block;
  }
  html.responsive .contents_wrapper.compornent .boxPhoto.pull-right img {
    max-width: 105px;
    float: right;
    margin-left: 10px;
  }
  html.responsive .contents_wrapper.compornent .player {
    position: relative;
    margin-bottom: 40px;
  }
  html.responsive .contents_wrapper.compornent .player .thumbnail {
    width: 100%;
  }
  html.responsive .contents_wrapper.compornent .player .thumbnail img {
    width: 100%;
  }
  html.responsive .contents_wrapper.compornent .player .btn_play {
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(/assets/m/sprites/sprite.png);
    background-position: -45px -195px;
    width: 32px;
    height: 32px;
    -webkit-background-size: 240px 235px;
    background-size: 240px 235px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -16px;
    margin-left: -16px;
    cursor: pointer;
  }
  html.responsive .contents_wrapper.compornent .textListDl {
    line-height: 1.8em;
    font-size: 1.4rem;
    margin-bottom: 20px;
  }
  html.responsive .contents_wrapper.compornent .textListDl:last-child {
    margin-bottom: 40px;
  }
  html.responsive .contents_wrapper.compornent .textListDl dl {
    margin-bottom: 20px;
  }
  html.responsive .contents_wrapper.compornent .textListDl dl:last-child {
    margin-bottom: 0;
  }
  html.responsive .contents_wrapper.compornent .textListDl dl dt {
    font-weight: bold;
  }
  html.responsive .contents_wrapper.compornent .Slider {
    padding: 2px 0 0 0;
    width: 100%;
    overflow: hidden;
  }
  html.responsive .contents_wrapper.compornent .Slider .SliderInner {
    margin: 0 auto;
    width: 100%;
  }
  html.responsive .contents_wrapper.compornent .Slider .SliderInner .slick-list {
    overflow: visible;
  }
  html.responsive .contents_wrapper.compornent .Slider .SliderInner .slickSlide {
    position: relative;
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    opacity: 0.4;
  }
  html.responsive .contents_wrapper.compornent .Slider .SliderInner .slickSlide a {
    display: block;
    position: relative;
    text-decoration: none;
  }
  html.responsive .contents_wrapper.compornent .Slider .SliderInner .slickSlide img {
    width: 100%;
  }
  html.responsive .contents_wrapper.compornent .Slider .SliderInner .slickSlide.slick-active {
    opacity: 1;
  }
  html.responsive .contents_wrapper.compornent .Slider .SliderControl {
    position: relative;
    background-color: #eeeeee;
    height: 50px;
  }
  html.responsive .contents_wrapper.compornent .Slider .SliderControl .sliderPrevArrow {
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(/assets/m/sprites/sprite.png);
    background-position: -82px -195px;
    width: 30px;
    height: 30px;
    -webkit-background-size: 240px 235px;
    background-size: 240px 235px;
    position: absolute;
    left: 50%;
    top: 10px;
    margin-left: -71px;
  }
  html.responsive .contents_wrapper.compornent .Slider .SliderControl .sliderControlStop {
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(/assets/m/sprites/sprite.png);
    background-position: -55px -150px;
    width: 60px;
    height: 30px;
    -webkit-background-size: 240px 235px;
    background-size: 240px 235px;
    position: absolute;
    left: 50%;
    top: 10px;
    margin-left: -31px;
  }
  html.responsive .contents_wrapper.compornent .Slider .SliderControl .sliderControlStop.active {
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(/assets/m/sprites/sprite.png);
    background-position: -120px -150px;
    width: 60px;
    height: 30px;
    -webkit-background-size: 240px 235px;
    background-size: 240px 235px;
  }
  html.responsive .contents_wrapper.compornent .Slider .SliderControl .sliderNextArrow {
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(/assets/m/sprites/sprite.png);
    background-position: -185px -150px;
    width: 30px;
    height: 30px;
    -webkit-background-size: 240px 235px;
    background-size: 240px 235px;
    position: absolute;
    left: 50%;
    top: 10px;
    margin-left: 39px;
  }
  html.responsive .contents_wrapper.compornent .Slider .SliderControl .SliderCount {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 13px;
    height: 50px;
    line-height: 50px;
    font-style: italic;
    font-weight: bold;
  }
  html.responsive .contents_wrapper.compornent .Slider .SliderControl .SliderCount div {
    display: inline-block;
    font-size: 0.9rem;
  }
  html.responsive .contents_wrapper.compornent .Slider .SliderControl .SliderCount div.currentCount, html.responsive .contents_wrapper.compornent .Slider .SliderControl .SliderCount div.currentSlash {
    font-size: 1.5rem;
  }
  html.responsive .contents_wrapper.compornent .slideInfoBox {
    padding: 10px 20px;
  }
  html.responsive .contents_wrapper.compornent .slideInfoBox .infoBoxDate {
    font-size: 1rem;
  }
  html.responsive .contents_wrapper.compornent .slideInfoBox .slideInfoBoxTitle {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 5px;
  }
  html.responsive .contents_wrapper.compornent .boxBtnPrimary {
    border: 2px solid #cccccc;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 30px;
  }
  html.responsive .contents_wrapper.compornent .boxBtnPrimary a {
    display: block;
    position: relative;
  }
  html.responsive .contents_wrapper.compornent .boxBtnTertiary {
    border: 2px solid #555555;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  html.responsive .contents_wrapper.compornent .guidesListItem {
    border: 2px solid #cccccc;
    font-size: 1.4rem;
    margin-bottom: 20px;
  }
  html.responsive .contents_wrapper.compornent .guidesListItem .guidesListItemHead {
    border-bottom: 2px dotted #cccccc;
    padding: 10px;
    font-weight: bold;
  }
  html.responsive .contents_wrapper.compornent .guidesListItem .guidesListItemHead h3 {
    font-weight: bold;
  }
  html.responsive .contents_wrapper.compornent .guidesListItem .guidesListItemContents {
    padding: 10px;
    line-height: 1.8em;
  }
  html.responsive .contents_wrapper.compornent .guidesListItem:last-child {
    margin-bottom: 40px;
  }
  html.responsive .contents_wrapper.compornent .gHalf > .guidesListItem:last-child {
    margin-bottom: 20px;
  }
  html.responsive .contents_wrapper.compornent .boxBtnSecondary {
    border: 2px solid #cccccc;
    font-size: 1.4rem;
    margin-bottom: 50px;
    padding: 10px;
    font-weight: bold;
  }
  html.responsive .contents_wrapper.compornent .boxBtnSecondary a:before {
    content: '';
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(/assets/m/sprites/sprite.png);
    background-position: -180px -117px;
    width: 5.5px;
    height: 8px;
    -webkit-background-size: 240px 235px;
    background-size: 240px 235px;
    margin-right: 5px;
  }
  html.responsive .contents_wrapper.compornent .alertBox {
    line-height: 1.8em;
    padding-left: 1em;
    text-indent: -1em;
    font-size: 1rem;
  }
  html.responsive .contents_wrapper.compornent ul.listNews + .alertBox {
    margin-bottom: 40px;
  }
  html.responsive .contents_wrapper.compornent .alertBox.alertColor2 {
    color: #d90000;
  }
  html.responsive .contents_wrapper.compornent .alertBox.alertSize1 {
    font-size: 1.4rem;
  }
  html.responsive .contents_wrapper.compornent .alertBox.alertSize2 {
    font-size: 1.4rem;
  }
  html.responsive .contents_wrapper.compornent .pull_down .btn_toggle {
    background-color: #eeeeee;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    position: relative;
    cursor: pointer;
  }
  html.responsive .contents_wrapper.compornent .pull_down .btn_toggle .ui {
    padding-left: 20px;
    text-decoration: none;
  }
  html.responsive .contents_wrapper.compornent .pull_down .btn_toggle:after {
    content: '';
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(/assets/m/sprites/sprite.png);
    background-position: -170px -130px;
    width: 17px;
    height: 10.5px;
    -webkit-background-size: 240px 235px;
    background-size: 240px 235px;
    position: absolute;
    right: 12.5px;
    top: 50%;
    margin-top: -4px;
  }
  html.responsive .contents_wrapper.compornent .pull_down .btn_toggle.active:after {
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(/assets/m/sprites/sprite.png);
    background-position: -117px -195px;
    width: 17px;
    height: 10.5px;
    -webkit-background-size: 240px 235px;
    background-size: 240px 235px;
    position: absolute;
  }
  html.responsive .contents_wrapper.compornent .pull_down .view {
    overflow: hidden;
  }
  html.responsive .contents_wrapper.compornent .pull_down .view .pull_down_inner {
    position: relative;
    background-color: #eee;
    padding: 20px;
    padding-top: 0;
  }
  html.responsive .contents_wrapper.compornent .pull_down .view ul li {
    display: block;
    border-bottom: 1px solid #cccccc;
    font-size: 1.4rem;
    height: 40px;
    line-height: 40px;
    text-indent: 1.5em;
  }
  html.responsive .contents_wrapper.compornent .pull_down .view ul li.active {
    text-indent: 0;
  }
  html.responsive .contents_wrapper.compornent .pull_down .view ul li a {
    text-decoration: none;
  }
  html.responsive .contents_wrapper.compornent .pull_down .view ul li a em {
    font-style: normal;
  }
  html.responsive .contents_wrapper.compornent .sub_category {
    background-color: #eeeeee;
    padding: 20px;
  }
  html.responsive .contents_wrapper.compornent .sub_category ul li {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: bold;
  }
  html.responsive .contents_wrapper.compornent .sub_category ul li a {
    display: block;
    position: relative;
    display: block;
    position: relative;
    padding-left: 1em;
    text-indent: -1em;
  }
  html.responsive .contents_wrapper.compornent .sub_category ul li a:before {
    content: '';
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(/assets/m/sprites/sprite.png);
    background-position: -180px -117px;
    width: 5.5px;
    height: 8px;
    -webkit-background-size: 240px 235px;
    background-size: 240px 235px;
    margin-right: 5px;
  }
  html.responsive .contents_wrapper.compornent .sub_category ul li:last-child {
    margin-bottom: 0;
  }
  html.responsive .contents_wrapper.compornent table {
    width: 100%;
  }
  html.responsive .contents_wrapper.compornent table.separeted td {
    text-align: center;
    position: relative;
    vertical-align: middle;
  }
  html.responsive .contents_wrapper.compornent table.separeted td:after {
    content: '';
    display: block;
    width: 1px;
    height: 10px;
    background-color: #cccccc;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -5px;
  }
  html.responsive .contents_wrapper.compornent table.separeted td .btn_arrow {
    display: inline-block;
  }
  html.responsive .contents_wrapper.compornent table.separeted td:first-child {
    border: none;
  }
  html.responsive .contents_wrapper.compornent table.separeted td:first-child:after {
    display: none;
  }
  html.responsive .contents_wrapper.compornent table.table_text {
    line-height: 1.8em;
    margin-bottom: 20px;
    font-size: 1.4rem;
  }
  html.responsive .contents_wrapper.compornent table.table_stripe {
    border: 1px solid #cccccc;
    line-height: 1.8em;
    margin-bottom: 20px;
  }
  html.responsive .contents_wrapper.compornent table.table_stripe th.centered, html.responsive .contents_wrapper.compornent table.table_stripe td.centered {
    text-align: center;
    vertical-align: middle;
  }
  html.responsive .contents_wrapper.compornent table.table_stripe th.bd-left, html.responsive .contents_wrapper.compornent table.table_stripe td.bd-left {
    border-left: 1px solid #cccccc;
  }
  html.responsive .contents_wrapper.compornent table.table_stripe.odd tr:nth-child(even) {
    background-color: #f7f7f7;
  }
  html.responsive .contents_wrapper.compornent table.table_stripe.odd tr:nth-child(odd) {
    background-color: #fff;
  }
  html.responsive .contents_wrapper.compornent table.table_stripe tr:nth-child(odd) {
    background-color: #f7f7f7;
  }
  html.responsive .contents_wrapper.compornent table.table_stripe tr th, html.responsive .contents_wrapper.compornent table.table_stripe tr td {
    text-align: left;
    padding: 10px;
    font-size: 1.4rem;
    border-bottom: 1px solid #cccccc;
    font-weight: normal;
  }
  html.responsive .contents_wrapper.compornent table.table_stripe tr th {
    font-weight: bold;
    font-size: 1.4rem;
    background-color: #ebebeb;
  }
  html.responsive .contents_wrapper.compornent table.table_stripe tr td dl {
    font-size: 1.4rem;
    line-height: 2em;
  }
  html.responsive .contents_wrapper.compornent table.table_stripe tr td dt {
    border-bottom: 1px dotted #cccccc;
    padding-bottom: 10px;
  }
  html.responsive .contents_wrapper.compornent table.table_stripe tr td dd {
    margin-top: 10px;
  }
  html.responsive .contents_wrapper.compornent .boxSports {
    margin-bottom: 40px;
    min-height: 60px;
  }
  html.responsive .contents_wrapper.compornent .boxSports > div {
    margin-top: 10px;
  }
  html.responsive .contents_wrapper.compornent .boxSports > div > div {
    position: relative;
    padding-left: 75px;
    padding-top: 10px;
  }
  html.responsive .contents_wrapper.compornent .boxSports > div > div p.pictgram {
    position: absolute;
    left: 0;
    top: 0;
/*    border: 1px solid #cccccc; */
/*    padding: 3px; */
    border: none;
    padding: 0px;
    width: 60px;
    height: 60px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  html.responsive .contents_wrapper.compornent .boxSports > div > div p.pictgram img {
    width: 100%;
    height: 100%;
  }
  html.responsive .contents_wrapper.compornent .boxSports > div > div p.category {
    font-size: 1rem;
  }
  html.responsive .contents_wrapper.compornent .boxSports > div > div .ja {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 4px;
  }
  html.responsive .contents_wrapper.compornent .playerYT {
    width: 320px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  html.responsive .contents_wrapper.compornent .playerYT .titleMovie {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.4rem;
  }
  html.responsive .contents_wrapper.compornent .imageList {
    margin-bottom: 40px;
  }
  html.responsive .contents_wrapper.compornent .imageList li {
    margin-bottom: 15px;
    position: relative;
    font-weight: bold;
    font-size: 10px;
  }
  html.responsive .contents_wrapper.compornent .imageList li:last-child {
    margin-bottom: 0;
  }
  html.responsive .contents_wrapper.compornent .imageList li > span {
    display: table-cell;
    height: 75px;
    padding-left: 136px;
    vertical-align: middle;
    position: relative;
  }
  html.responsive .contents_wrapper.compornent .imageList li a,
  html.responsive .contents_wrapper.compornent .imageList li .altA {
    display: table-cell;
    width: 100%;
    height: 75px;
    position: relative;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 128px;
  }
  html.responsive .contents_wrapper.compornent .imageList li .altA {
    padding-left: 136px;
  }
  html.responsive .contents_wrapper.compornent .imageList li a span {
    display: inline-block;
    position: relative;
    display: block;
    position: relative;
    padding-left: 1em;
    text-indent: -1em;
  }
  html.responsive .contents_wrapper.compornent .imageList li a span:before {
    content: '';
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(/assets/m/sprites/sprite.png);
    background-position: -180px -117px;
    width: 5.5px;
    height: 8px;
    -webkit-background-size: 240px 235px;
    background-size: 240px 235px;
    margin-right: 5px;
  }
  html.responsive .contents_wrapper.compornent .imageList li img {
    width: 108px;
    height: 75px;
    position: absolute;
    left: 0;
    top: 0;
  }
  html.responsive .contents_wrapper.compornent .list_game {
    margin-bottom: 40px;
  }
  html.responsive .contents_wrapper.compornent .list_game li {
    background-color: #eee;
    position: relative;
    margin-bottom: 10px;
  }
  html.responsive .contents_wrapper.compornent .list_game li:last-child {
    margin-bottom: 0;
  }
  html.responsive .contents_wrapper.compornent .list_game li span {
    width: 100%;
    height: 45px;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding-left: 65px;
    font-size: 1.4rem;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  html.responsive .contents_wrapper.compornent .list_game li span img {
    width: 45px;
    position: absolute;
    left: 7px;
    top: 7px;
  }
  html.responsive .contents_wrapper.compornent .accordionText {
    font-size: 1.4rem;
    line-height: 1.8em;
    margin-bottom: 20px;
  }
  html.responsive .contents_wrapper.compornent .accordionText:last-child {
    margin-bottom: 80px;
  }
  html.responsive .contents_wrapper.compornent .accordionText .default {
    font-weight: bold;
    overflow: hidden;
  }
  html.responsive .contents_wrapper.compornent .accordionText.hasBullet .default, html.responsive .contents_wrapper.compornent .accordionText.hasBullet .accordion_inner {
    position: relative;
    padding-left: 20px;
  }
  html.responsive .contents_wrapper.compornent .accordionText.hasBullet .default span,
  html.responsive .contents_wrapper.compornent .accordionText.hasBullet .accordion_inner span {
    position: absolute;
    left: 0;
    top: 0;
  }
  html.responsive .contents_wrapper.compornent .accordionText.hasBullet .accordion_inner span {
    position: relative;
  }
  html.responsive .contents_wrapper.compornent .accordionText.hasBullet .accordion_inner span:first-child {
    position: absolute;
    top: 20px;
  }
  html.responsive .contents_wrapper.compornent .accordionText .accordion {
    margin-top: 20px;
  }
  html.responsive .contents_wrapper.compornent .accordionText .accordion .view .accordion_inner {
    border-top: 1px solid #cccccc;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  html.responsive .contents_wrapper.compornent .accordionText .accordion .btn_toggle {
    margin-top: 0;
    background-color: #fff;
    background-color: #efefef;
    border-bottom: none;
    height: 30px;
  }
  html.responsive .contents_wrapper.compornent .accordionText .accordion .btn_toggle.active {
    border-top: none;
  }
  html.responsive .contents_wrapper.compornent .accordionText .accordion .btn_toggle.active:after {
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(/assets/m/sprites/sprite.png);
    background-position: -170px -130px;
    width: 17px;
    height: 10.5px;
    -webkit-background-size: 240px 235px;
    background-size: 240px 235px;
  }
  html.responsive .contents_wrapper.compornent .accordionText .accordion .btn_toggle:after {
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(/assets/m/sprites/sprite.png);
    background-position: -117px -195px;
    width: 17px;
    height: 10.5px;
    -webkit-background-size: 240px 235px;
    background-size: 240px 235px;
    right: auto;
    left: 50%;
    margin-left: -8.5px;
  }
  html.responsive #en .postHeading .postDate {
    width: 150px;
    white-space: nowrap;
  }
  html.responsive #en .postCategory {
    width: 120px;
    margin-left: 0px;
  }
  html.responsive .btn {
    position: relative;
  }
  html.responsive .btn a.ui {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
    text-indent: -9999px;
  }
  html.responsive .btn a.ui.button-image {
    text-indent: 0px;
  }
  html.responsive .btn a.ui.button-image img {
    vertical-align: top;
  }
  html.responsive .btn a.ui.button-image img.active-image {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
  }
  html.responsive .btn a.ui:focus {
    background-color: rgba(0, 204, 255, 0.1);
  }
  html.responsive a.ui {
    text-indent: -9999px;
  }
  html.responsive .roboto {
    font-family: 'Roboto', sans-serif;
  }
  html.responsive .container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  html.responsive .contents_contaienr {
    width: 100%;
  }
  html.responsive .contents_wrapper {
    width: 200%;
  }
  html.responsive .main_contents, html.responsive .contents_body {
    width: 50%;
    float: right;
  }
  html.responsive .gn_open .global_menu {
    display: block;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  html.responsive .gn_open #site_logo {
    -webkit-transform: translateX(-414px);
    -ms-transform: translateX(-414px);
    transform: translateX(-414px);
  }
  html.responsive .gn_open .contents_wrapper {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  html.responsive .gn_open .search_form, html.responsive .gn_open .btn_search {
    -webkit-transform: translateX(-414px);
    -ms-transform: translateX(-414px);
    transform: translateX(-414px);
  }
  html.responsive .global_menu {
    background-color: #fff;
    position: relative;
    width: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 30000;
    float: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  html.responsive .global_menu .accordion > .view {
    overflow: hidden;
    height: 0;
  }
  html.responsive .global_menu .global_menulist {
    border-bottom: 20px solid #dbdbdb;
  }
  html.responsive .global_menu .global_menulist > li {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    border-bottom: 1px solid #c7baa6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
  }
  html.responsive .global_menu .global_menulist > li.has_children {
    padding-left: 0;
    padding-right: 0;
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
  }
  html.responsive .global_menu .global_menulist > li.has_children > .trigger {
    color: #676767;
    background-color: #ffffff;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  html.responsive .global_menu .global_menulist > li.has_children > .trigger.active {
    background-color: #f6f6f6;
  }
  html.responsive .global_menu .global_menulist > li.has_children > .trigger.active + .view .global_second_menu {
    border-top: 1px solid #dddddd;
  }
  html.responsive .global_menu .global_menulist > li.has_children > .trigger:after {
    content: '';
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(/assets/m/sprites/sprite.png);
    background-position: -170px -141px;
    width: 17px;
    height: 10.5px;
    -webkit-background-size: 240px 235px;
    background-size: 240px 235px;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -5px;
  }
  html.responsive .global_menu .global_menulist > li.has_children > .trigger.active:after {
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(/assets/m/sprites/sprite.png);
    background-position: -117px -195px;
    width: 17px;
    height: 10.5px;
    -webkit-background-size: 240px 235px;
    background-size: 240px 235px;
    margin-top: -7px;
  }
  html.responsive .global_menu .global_menulist > li a {
    color: #676767;
    text-decoration: none;
  }
  html.responsive .global_menu .global_menulist > li a.blank {
    position: relative;
    display: inline-block;
  }
  html.responsive .global_menu .global_menulist > li a.blank img {
    width: 8.5px;
    position: absolute;
    right: -15px;
    top: 50%;
    margin-top: -6px;
  }
  html.responsive .global_menu .global_menulist > li a.related {
    position: relative;
    display: inline-block;
    font-weight: bold;
  }
  html.responsive .global_menu .global_menulist > li a.related:before {
    content: '';
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(/assets/m/sprites/sprite.png);
    background-position: -173px -117px;
    width: 5.5px;
    height: 8px;
    -webkit-background-size: 240px 235px;
    background-size: 240px 235px;
    margin-right: 5px;
  }
  html.responsive .global_menu .global_menulist > li a.related img {
    width: 10px;
    position: absolute;
    margin-left: 0px;
    top: 60%;
    margin-top: -6px;
  }
  html.responsive body#en .global_menu .global_menulist > li a.related img {
    width: 10px;
    position: relative;
    margin-left: 5px;
    top: 60%;
    margin-top: -6px;
  }
  html.responsive body#fr .global_menu .global_menulist > li a.related img {
    width: 10px;
    position: relative;
    margin-left: 5px;
    top: 60%;
    margin-top: -6px;
  }
  html.responsive .global_menu .global_menulist > li > .trigger {
    background-color: #f6f6f6;
    padding-left: 20px;
    padding-right: 20px;
  }
  html.responsive .global_menu .global_menulist > li > .trigger.language {
    background-color: #dbdbdb;
    font-weight: normal;
    font-size: 1.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  html.responsive .global_menu .global_menulist > li > .trigger.language:after {
    display: none;
  }
  html.responsive .global_menu .global_second_menu.commission li {
    padding-left: 2em;
  }
  html.responsive .global_menu .global_second_menu.commission li:before {
    display: none !important;
  }
  html.responsive .global_menu .global_second_menu > li {
    position: relative;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    padding-left: 45px;
    font-size: 1.5rem;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  html.responsive .global_menu .global_second_menu > li:before {
    content: '';
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(/assets/m/sprites/sprite.png);
    background-position: -180px -117px;
    width: 5.5px;
    height: 8px;
    -webkit-background-size: 240px 235px;
    background-size: 240px 235px;
    position: absolute;
    left: 30px;
    top: 50%;
    margin-top: -6px;
  }
  html.responsive .global_menu .global_second_menu > li:last-child {
    border-bottom: none;
  }
  html.responsive .global_menu .global_second_menu > li:first-child {
    border-top: 1px solid #eeeeee;
  }
  html.responsive .global_menu .global_second_menu > li.has_children {
    height: auto;
    border-bottom: 1px solid #eeeeee;
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 0;
  }
  html.responsive .global_menu .global_second_menu > li.has_children .trigger {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
    position: relative;
    padding-left: 45px;
    position: relative;
  }
  html.responsive .global_menu .global_second_menu > li.has_children .trigger:before {
    content: '';
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(/assets/m/sprites/sprite.png);
    background-position: -180px -117px;
    width: 5.5px;
    height: 8px;
    -webkit-background-size: 240px 235px;
    background-size: 240px 235px;
    position: absolute;
    left: 30px;
    top: 50%;
    margin-top: -5px;
  }
  html.responsive .global_menu .global_second_menu.commission {
    border-top: 20px solid #dbdbdb;
  }
  html.responsive .global_menu .global_second_menu.commission li {
    font-weight: normal;
    font-size: 1.4rem;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  html.responsive .global_menu .global_second_menu.language li {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: normal;
    font-size: 1.5rem;
  }
  html.responsive .global_menu .global_second_menu.language li.active {
    color: #676767;
  }
  html.responsive .global_menu .global_second_menu.language li:before {
    display: none;
  }
  html.responsive .global_menu .global_second_menu.language li.active:before {
    content: '';
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(/assets/m/sprites/sprite.png);
    background-position: -139px -195px;
    width: 10.5px;
    height: 8px;
    -webkit-background-size: 240px 235px;
    background-size: 240px 235px;
    top: 22px;
    left: 28px;
  }
  html.responsive .global_menu .global_third_menu > li {
    line-height: 1em;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 65px;
    font-weight: normal;
    font-size: 1.5rem;
    padding-top: 14px;
    padding-bottom: 14px;
    position: relative;
  }
  html.responsive .global_menu .global_third_menu > li:before {
    content: '';
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(/assets/m/sprites/sprite.png);
    background-position: -180px -117px;
    width: 5.5px;
    height: 8px;
    -webkit-background-size: 240px 235px;
    background-size: 240px 235px;
    position: absolute;
    left: 50px;
    top: 50%;
    margin-top: -4px;
  }
  html.responsive .global_menu .global_third_menu > li br {
    line-height: 1.8em;
  }
  html.responsive .global_menu .global_third_menu > li:last-child {
    border-bottom: none;
  }
  html.responsive .global_menu .indent .global_second_menu > li {
    padding-left: 45px;
  }
  html.responsive .global_menu .indent .global_second_menu > li:before {
    left: 30px;
  }
  html.responsive .global_menu .indent .global_second_menu > li:first-child {
    border-top: none;
  }
  html.responsive .global_menu .indent .global_second_menu > li.has_children {
    padding-left: 0;
  }
  html.responsive .global_menu .indent .global_second_menu > li.has_children:before {
    display: none;
  }
  html.responsive .global_menu .indent .global_second_menu > li.pl20 {
    padding-left: 35px;
  }
  html.responsive .global_menu .indent .global_second_menu > li.pl20:before {
    left: 20px;
  }
  html.responsive .global_menu .indent .global_second_menu > li.pl20 a {
    padding-left: 15px;
  }
  html.responsive *[tabindex]:focus {
    outline: -webkit-focus-ring-color auto 5px;
  }
  html.responsive header {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #841b20;
    background: linear-gradient(90deg, #841b20 0%, #841b20 50%, #9f122c 50%, #9f122c 100%);
    z-index: 30001;
  }
  html.responsive header:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #816946;
  }
  html.responsive header #site_logo {
    position: absolute;
    left: 0;
    top: 0;
  }
  html.responsive header #site_logo a {
    display: block;
    width: 96.5px;
    height: 70px;
  }
  html.responsive header #site_logo a img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 96.5px;
    height: 70px;
  }
  html.responsive header #headerLower {
    background: url(../../../assets/m/img/common/icon_header_bar.png) no-repeat center 0;
    background-size: auto 70px;
  }
  html.responsive header .global_menu_triggerlist {
    float: right;
  }
  html.responsive header .global_menu_triggerlist li {
    float: left;
  }
  html.responsive header .global_menu_triggerlist li.btn_search {
    width: 55px;
    height: 70px;
    cursor: pointer;
  }
  html.responsive header .global_menu_triggerlist li.btn_search.active {
    width: 55px;
    height: 70px;
  }
  html.responsive header .global_menu_triggerlist li.active a.ui.button-image img {
    visibility: hidden;
  }
  html.responsive header .global_menu_triggerlist li.active a.ui.button-image img.active-image {
    display: block;
    visibility: visible;
  }
  html.responsive header .global_menu_triggerlist li.btn_menu {
    width: 55px;
    height: 70px;
    border-right: 3px solid #9f122c;
    cursor: pointer;
  }
  html.responsive header .global_menu_triggerlist li.btn_menu.active {
    width: 55px;
    height: 70px;
  }
  html.responsive header .search_form {
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    overflow: hidden;
    height: 0;
  }
  html.responsive header .search_form .view {
    background-color: #ededee;
    position: relative;
    padding: 5px 10px;
    height: 50px;
    box-sizing: border-box;
  }
  html.responsive header .search_form .view input {
    border-radius: 0px;
  }
  html.responsive header .search_form .view input[type="text"],
  html.responsive header .search_form .view input[type="search"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    padding: 0;
    font-size: 1.4rem;
    color: #000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    width: 250px;
    line-height: 38px;
    padding-left: 5px;
    background-color: #ededee;
  }
  html.responsive header .search_form .view input[type="search"] {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    margin: auto;
    width: 100%;
    padding-right: 50px;
  }
  html.responsive header .search_form .view input[type="text"]::-webkit-input-placeholder,
  html.responsive header .search_form .view input[type="search"]::-webkit-input-placeholder {
    color: #676767;
  }
  html.responsive header .search_form .view input[type="text"]::-ms-input-placeholder,
  html.responsive header .search_form .view input[type="search"]::-ms-input-placeholder {
    color: #676767;
  }
  html.responsive header .search_form .view input[type="text"]:placeholder-shown {
    color: #676767;
  }
  html.responsive header .search_form .view input[type="search"]:placeholder-shown {
    color: #676767;
  }
  html.responsive header .search_form .view input[type="submit"],
  html.responsive header .search_form .view input[type="image"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(/assets/m/sprites/sprite.png);
    background-position: 0px -150px;
    width: 50px;
    height: 40px;
    -webkit-background-size: 240px 235px;
    background-size: 240px 235px;
    float: right;
    border: none;
  }
  html.responsive header .search_form .view input[type="image"] {
    background: none;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  html.responsive footer {
  background-color: #fff;
  padding-top: 17px;
  margin-top: 40px;
  }
  html.responsive footer .btn_pagetop {
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: right;
    position: relative;
  }
  html.responsive footer .btn_pagetop:after {
    content: "";
    clear: both;
    display: block;
  }
  html.responsive footer .btn_pagetop a {
    display: inline !important;
    position: relative !important;
    height: auto !important;
    width: auto !important;
    left: auto !important;
    top: auto !important;
  }
  html.responsive footer .btn_pagetop a:before {
    content: '';
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(/assets/m/sprites/sprite.png);
    background-position: -180px -93.5px;
    width: 8px;
    height: 5.5px;
    -webkit-background-size: 240px 235px;
    background-size: 240px 235px;
    margin-right: 10px;
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  html.responsive footer .footer_link_list {
    background-color: #9f122c;
    margin-top: 16px;
    padding: 20px 0 10px;
    position: relative;
  }
  html.responsive footer .footer_link_list:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: url(/assets/m/img/common/icon_footer_bar.png) no-repeat 38px 0 #801c20;
    background-size: auto 10px;
  }
  html.responsive footer .footer_link_list:after {
    content: "";
    clear: both;
    display: block;
  }
  html.responsive footer .footer_link_list li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    font-size: 1.4rem;
  }
  html.responsive footer .footer_link_list li:last-child {
    border-bottom: none;
  }
  html.responsive footer .footer_link_list li a {
    display: block;
    color: #ffffff;
  }
  html.responsive footer .footer_link_list li a:before {
    content: '';
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(/assets/m/sprites/sprite.png);
    background-position: -186px -117px;
    width: 5.5px;
    height: 8px;
    -webkit-background-size: 240px 235px;
    background-size: 240px 235px;
    margin-right: 8px;
  }
  html.responsive footer #footer_sns {
    padding: 0 20px 20px;
    background-color: #9f122c;
  }
  html.responsive footer .footer_sns_list {
    display: -webkit-flex;
    display: flex;
  }
  html.responsive footer .footer_sns_item {
    width: 30px;
    height: 30px;
    margin-left: 8px;
  }
  html.responsive footer .footer_sns_item:first-child {
    margin-left: 0;
  }
  html.responsive footer .footer_sns_item img {
    width: 100%;
    height: auto;
  }
  html.responsive .device_link_area {
    padding: 10px;
    border-top: 2px solid #cccccc;
  }
  html.responsive .device_link_area a {
    text-align: center;
    background: #CCC;
    display: block;
    line-height: 0;
  }
  html.responsive footer .ft_bottom {
    background-color: #841b20;
    color: #ffffff;
    padding-top: 18px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
  }
  html.responsive footer .ft_bottom a {
    color: #ffffff;
    text-decoration: none;
  }
  html.responsive footer .ft_bottom a span.tel {
    text-decoration: underline;
  }
  html.responsive footer .ft_bottom dl {
    line-height: 1.8em;
    border-bottom: 1px solid #666666;
    padding-bottom: 17px;
  }
  html.responsive footer .ft_bottom dl dt {
    font-weight: bold;
    font-size: 1.4rem;
  }
  html.responsive footer .ft_bottom dl dd {
    font-weight: bold;
    font-size: 1.4rem;
  }
  html.responsive footer .ft_bottom dl dd span {
    font-weight: normal;
    font-size: 1rem;
  }
  html.responsive footer .ft_bottom .enquiry {
    font-weight: normal;
    font-size: 100%;
  }
  html.responsive footer .ft_bottom .enquiry a {
    color: #fff;
    text-decoration: underline;
  }
  html.responsive footer .ft_bottom .enquiry a:hover {
    color: #cdb55f;
    text-decoration: none;
  }
  html.responsive footer .ft_bottom dl dd span.tel-info {
    font-size: 100%;
    font-weight: bold;
  }
  html.responsive footer .ft_bottom dl.photo {
    margin-top: 16px;
  }
  html.responsive footer .ft_bottom dl.photo dt {
    font-size: 1rem;
    font-weight: normal;
  }
  html.responsive footer .ft_bottom dl.photo dd {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.4rem;
  }
  html.responsive footer .ft_bottom dl.photo dd span:after {
    display: inline-block;
    margin: 0px 3px;
    content: "/";
  }
  html.responsive footer .ft_bottom dl.photo dd span:last-child:after {
    display: none;
  }
  html.responsive footer .ft_bottom .copyrights {
    display: block;
    font-weight: normal;
    font-size: 100%;
    margin-top: 20px;
  }
  html.responsive footer .ft_bottom .copyrights span {
    display: block;
  }
  html.responsive span.tel, html.responsive em.tel {
    font-size: 130% !important;
    font-style: normal;
    font-weight: bold !important;
  }
  html.responsive body#en footer .footer_link_list li {
    padding-left: 10px;
  }
  html.responsive body#en footer .footer_link_list li a {
    display: table-cell;
    height: 31px;
    vertical-align: middle;
  }
  html.responsive body#en footer .footer_link_list .footer_link_list_br a:before {
    height: 13px !important;
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  html.responsive body#en footer .footer_link_list .footer_link_list_br span {
    line-height: 1.2;
    display: inline-block;
    text-decoration: underline;
    padding-top: 6px;
  }
  html.responsive body#fr footer .footer_link_list li {
    padding-left: 10px;
  }
  html.responsive .contents_wrapper.compornent .list_num {
    text-indent: 0px;
    padding-left: 1.5em;
    font-size: 1.4rem;
    line-height: 1.8em;
    margin-bottom: 40px;
    list-style-type: decimal;
    /*list-style-position: inside;*/
  }
  html.responsive .contents_wrapper.compornent .list_dot li {
    /*margin-bottom: 20px;*/
    font-size: 1.4rem;
    line-height: 1.8em;
    padding-left: 1em;
    text-indent: -1em;
  }
  html.responsive #jp .contents_wrapper.compornent .list_dot li:before {
    content: "・";
  }
  html.responsive #en .contents_wrapper.compornent .list_dot li:before,
  html.responsive #fr .contents_wrapper.compornent .list_dot li:before {
    content: "– ";
  }
  html.responsive #jp .dlist_dot dt:before {
    content: "・";
  }
  html.responsive #en .dlist_dot dt:before,
  html.responsive #fr .dlist_dot dt:before {
    content: "– ";
  }
  html.responsive .contents_wrapper.compornent .listmb00 li {
    margin-bottom: 0px;
  }
  html.responsive .contents_wrapper.compornent .listmb25 li {
    margin-bottom: 25px;
  }
  html.responsive .contents_wrapper.compornent .listmb20 li {
    margin-bottom: 20px;
  }
  html.responsive #jp .annotation:before {
    content: "※";
  }
  html.responsive #en .annotation:before,
  html.responsive #fr .annotation:before {
    content: "* ";
  }
  html.responsive .annotation.indent {
    padding-left: 1em;
    text-indent: -1em;
    display: block;
  }
  sup {
    font-size: 75.5%;
    vertical-align: top;
    position: relative;
    top: -0.1em;
  }
  sub {
    font-size: 75.5%;
    vertical-align: bottom;
    position: relative;
    top: 0.1em;
  }
  html.responsive .news-cap {
    position: relative;
    margin-top: -20px;
    margin-bottom: 10px;
  }
  html.responsive .venue-outline {
    margin-bottom: 40px;
  }
  html.responsive .article-body .old-article-reform .fleft.textBase {
    margin-bottom: 0px;
  }
  html.responsive .article-body .article-side-description {
    margin-top: -20px;
    text-align: center;
  }
}
/* Magnific Popup CSS */
/* モーダル表示用 */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }
.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }
.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }
.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }
.mfp-align-top .mfp-container:before {
  display: none; }
.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }
.mfp-ajax-cur {
  cursor: progress; }
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }
.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }
.mfp-auto-cursor .mfp-content {
  cursor: auto; }
.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }
.mfp-loading.mfp-figure {
  display: none; }
.mfp-hide {
  display: none !important; }
.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }
.mfp-s-ready .mfp-preloader {
  display: none; }
.mfp-s-error .mfp-content {
  display: none; }
button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }
.mfp-close {
  width: 50px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 10px;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover,
  .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }
.mfp-close-btn-in .mfp-close {
  color: #333;
  font-size: 15px; }
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }
.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }
.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover,
  .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before,
  .mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }
.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }
.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F; }
.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }
.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }
/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }
/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }
.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }
.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }
.mfp-image-holder .mfp-content {
  max-width: 100%; }
.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }
@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }
.inline-wrap {
  position: relative;
  margin:10px auto;
  max-width: 700px;
  background: #fff;
  padding: 20px;
}
.inline-wrap h1 {
  font-weight: bold;
  font-size: 18px;
  margin: 0 0 10px;
}
.inline-wrap .image img {
  width:100%;
  max-width: 600px;
}
.inline-wrap .image,
.inline-wrap .popup-modal-dismiss {
  text-align: center;
  margin-top: 17px;
}
/* ページトップアンカー */
#contents_top_anchor {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}
