@media screen and (min-width: 768px) {
    header[role="banner"]{
        padding-bottom: 62px;
        border-bottom: 2px solid #94754d;
    }
    
    #headerUpperInner #languageBox {
        margin-right: 0;
    }

}

@media screen and (max-width: 767px) {
}
